{% extends 'shop/_layouts/main' %}

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% block main %}

    <div class="row">
        {% include "components/_breadcrumbs" %}
    </div>
    <div class="row">
        <div class="col s12">
            <a href="{{ url('shop/products') }}">&larr; All products</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h1>{{ product.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 single-product-image">
            {% set assets = product.productImage.all() %}
            {% if assets %}
                {% for asset in assets %}
                    <img class="responsive-img" src="{{ asset.getUrl('large') }}" alt="{{ asset.title }}">
                {% endfor %}
            {% else %}
                <img class="responsive-img" src="https://highburywines.staging.palebluedot.tv/assets/images/no-image-white-standard.png" alt="No Image Placeholder">
            {% endif %}
        </div>
        <div class="col s12 m6 single-product-info">
            <form method="POST">
                <input type="hidden" name="action" value="commerce/cart/update-cart">
                {{ redirectInput('shop/cart') }}
                <input type="hidden" name="qty" value="1">
                {{ csrfInput() }}
                <div class="field">
                    <select name="purchasableId">
                        {% for purchasable in product.variants %}
                            <option {% if purchasable.stock <= 0 and purchasable.hasUnlimitedStock == false %}disabled {% endif %}
                                    value="{{ purchasable.id }}">{{ purchasable.sku }} {{ purchasable.description }} {{ purchasable.price|commerceCurrency(cart.currency) }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="buttons">
                    <input type="submit" value="{{ "Add to cart"|t }}" class="button"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}