{% extends 'shop/_layouts/main' %}

{% block main %}

    {% set addressId = craft.app.request.param('addressId') %}
    {% set redirect = craft.app.request.param('redirect') %}

    {% if not address is defined and addressId %}
        {% set address = craft.commerce.customers.customer.getAddressById(addressId) %}
    {% endif %}

    <div class="row">
        <div class="col s12">
            <h1>
                {% if addressId %}
                    Edit Address
                {% else %}
                    Add a new address
                {% endif %}
            </h1>
        </div>

        <form method="post" class="row">
            {{ csrfInput() }}
            <input type="hidden" name="action" value="commerce/customer-addresses/save">
            {% if redirect %}
                {{ redirectInput(redirect) }}
            {% else %}
                {{ redirectInput('shop/customer/addresses') }}
            {% endif %}

            {% if addressId %}
                <input type="hidden" name="address[id]" value="{{ addressId }}">
            {% endif %}
            <div class="col s12">
                {% include 'shop/_includes/addresses/form' %}
                {% set isPrimaryBilling = cart.customer.primaryBillingAddressId == addressId %}
                {% set isPrimaryShipping = cart.customer.primaryShippingAddressId == addressId %}
            </div>
            <div class="col s12">
                <p>
                    <label for="makePrimaryShippingAddress">
                        <input id="makePrimaryShippingAddress" name="makePrimaryShippingAddress" type="radio" {{ isPrimaryShipping ? 'checked' :'' }}/>
                        <span class="label-body">Make this the primary shipping address</span>
                    </label>
                </p>

                <p>
                    <label for="makePrimaryBillingAddress">
                        <input id="makePrimaryBillingAddress" name="makePrimaryBillingAddress" type="radio" {{ isPrimaryBilling ? 'checked' :'' }}/>
                        <span class="label-body">Make this the primary billing address</span>
                    </label>
                </p>
            </div>

            <div class="col s12 m3">
                <input type="submit" class="btn btn-secondary" value="Save Address">
            </div>
        </form>

        <div class="col s12">
            {% if redirect %}
                <a href="/{{ redirect }}">Cancel</a>
            {% else %}
                <a href="{{ url('shop/customer/addresses') }}">Cancel</a>
            {% endif %}
        </div>
        
    </div>

{% endblock %}
