{% extends 'shop/_layouts/main' %}

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% block main %}

    <div class="row">
        {% include "components/_breadcrumbs" %}
    </div>
    <div class="row">
        <div class="col s12 single-product-title">
            <h1>{{ product.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 single-product-image">
            <div class="add-to-gift-list">
                {% set existingItem = craft.wishlist.item(product.id) %}
                {% if existingItem.inList %}
                    <a href="{{ siteUrl('gift-lists') }}"><i class="fas fa-heart fa-2x"></i></a>
                {% else %}
                    <i onclick="M.toast({html: toastHTML});" class="far fa-heart fa-2x"></i>
                {% endif %}
            </div>
            {% set assets = product.productImage.all() %}
            {% if assets %}
                {% for asset in assets %}
                    <img class="responsive-img" src="{{ asset.getUrl('large') }}" alt="{{ asset.title }}">
                {% endfor %}
            {% else %}
                <img class="responsive-img" src="https://highburywines.staging.palebluedot.tv/assets/images/no-image-white-standard.png" alt="No Image Placeholder">
            {% endif %}
            <div class="row product-description">
                <div class="col s12">
                    {% if product.description|length %}
                    <p>Description</p>
                    <p>{{ product.description }}</p>
                    {% endif %}
                </div>
            </div>
            <div class="row product-social-media">
                <div class="col s12 m6">
                    <ul>
                        <li class="social-media-link"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="social-media-link"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li class="social-media-link"><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li class="social-text">share this product</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col s12 m6 single-product-info">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <form method="POST" class="row">
                            <input type="hidden" name="action" value="commerce/cart/update-cart">
                            {{ redirectInput('cart') }}
                            <input type="hidden" name="qty" value="1">
                            {{ csrfInput() }}
                            <div class="input-field col s12">
                                <select name="purchasableId">
                                    {% for purchasable in product.variants %}
                                        <option {% if purchasable.stock <= 0 and purchasable.hasUnlimitedStock == false %}disabled {% endif %}
                                                value="{{ purchasable.id }}">{{ purchasable.description }} Variants</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <div class="row">
                                    <div class="col s12 m6">
                                        <p>product amount</p>
                                        <p>£0 amount per bottle</p>
                                    </div>
                                    <div class="col s12 m6 right-align">
                                        {% for purchasable in product.variants %}
                                            <h3>{{ purchasable.price|commerceCurrency(cart.currency) }}</h3>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="input-field col s12">
                                <input type="submit" value="{{ "Buy now"|t }}" class="btn waves-effect waves-light"/>
                            </div>
                            <div class="col s12 center">                   
                                <p>Free delivery over £120 to UK mainland</p>
                            </div>
                        </form>
                        <div class="row">
                            <div id="paypal-btns" class="col s12">
                                {% set productPrice = null %}
                                {% for purchasable in product.variants %}
                                    {% set productPrice = purchasable.price %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <ul class="collapsible"> 
                                    <li>
                                        <div class="collapsible-header"><i class="material-icons">list</i>Add to a list and share with friends or family</div>
                                        <div class="collapsible-body">
                                            <ul>
                                            {% set selectedItem = craft.wishlist.item(product.id) %}
                                            {% set giftLists = craft.wishlist.lists(true, false) %}
                                            {% for giftList in giftLists.all() %}
                                                <li><a href="{{ selectedItem.addUrl(product.id) }}&listId={{ giftList.id }}">{{ giftList.title }} - {{ giftList.id }}</a></li>
                                            {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 product-additional-info">
                                <p>Additional Information</p>
                                <ul>
                                    {# {% dd(product) %} #}
                                    <li>Alcohol Volume <span>{{ product.alcoholVolume ?? 'n/a' }}</span></li>
                                    {% set countries = product.countriesCat.all() %}
                                    <li>Country
                                        {% for country in countries %}
                                            <span>{{ country ?? 'n/a' }}</span>
                                        {% endfor %}
                                    </li>
                                    {% set regions = product.regionsCat.all() %}
                                    <li>Region
                                        {% for region in regions %}
                                            <span>{{ region ?? 'n/a' }}</span>
                                        {% endfor %}
                                    </li>
                                    <li>Closure Type <span>{{ product.closureType ?? 'n/a' }}</span></li>
                                    <li>Bottle Size <span>{{ product.bottleSize ?? 'n/a' }}</span></li>
                                    {% set grapes = product.grapesCat.all() %}
                                    <li>Grape Variety
                                        {% for grape in grapes %}
                                            <span>{{ grape ?? 'n/a' }}</span>
                                        {% endfor %}
                                    </li>
                                    {# {% set foods = product.foodMatches.all() %}
                                    <li>Food Matches
                                        {% for food in foods %}
                                            <span>{{ food ?? 'n/a' }}</span>
                                        {% endfor %}
                                    </li> #}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row contact-delivery-info">
        <div class="col s12 m6 center">
            <h3>Need advice? Call 0000 000 0000</h3>
            <p>Mon - Fri 9am - 6pm</p>
        </div>
        <div class="col s12 m6 center">
            <h3>Free delivery on all orders over £120</h3>
            <p>Delivery options click here</p>
        </div>
    </div>

    {% include "/components/_related-products" %}

{% endblock %}

{% js %}

    if( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

    $("select").change(function(){
        var chosenList = document.getElementById('chosenList');
        var selectedList = $(this).children("option:selected").val();
        $("#chosenList").val(selectedList);
    });

    var toastHTML = '<span>Sign in or create an account to add this item to a shareable list</span><a href="" class="btn-flat toast-action">Sign in / Create</a>';

{% endjs %}