{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% set bestsellers = bestsellers.bestsellers %}
<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h2>Our Bestsellers</h2>
                </div>
            </div>
            <div class="row">

            {% for product in bestsellers %}
                <div class="col s12 m6 l4 xl3">

                {# Start of Card #}
                <div class="card products-card">

                    {# Card Image #}
                    <div class="card-image products-image">
                        {% set images = product.productImage.all() %}
                        {% if images %}
                            {% for asset in images %}
                                <a href="{{ product.url }}">
                                    <img class="responsive-img" src="{{ asset.getUrl('full') }}" alt="{{ asset.title }}">
                                </a>
                            {% endfor %}
                        {% else %}
                            <img class="responsive-img" src="https://highburywines.staging.palebluedot.tv/assets/images/no-image-white-standard.png" alt="No Image Placeholder">
                        {% endif %}
                    </div>

                    {# Card Content #}
                    <div class="card-content products-content">
                        <ul>
                            <li class="products-title">{% if product.url %}{{ product.link }}{% else %}{{ product.title }}{% endif %}</li>
                            <li class="products-price">{{ product.defaultPrice|commerceCurrency(cart.currency) }}</li>
                            {% if product.defaultPrice %}<li class="products-per-bottle">per bottle</li>{% endif %}
                        </ul>

                        {# {% dd(product.getVariants()) %} #}

                        {% if product.getVariants()|length %}
                            <form method="POST" class="add-to-cart-form center">

                                <input type="hidden" name="action" value="commerce/cart/update-cart">
                                <input type="hidden" name="cartUpdatedNotice" value="{{ product.title}} has been added to your cart.">
                                {# {{ redirectInput('shop/cart') }} #}
                                <input type="hidden" name="qty" value="1">
                                {{ csrfInput() }}

                                <select name="purchasableId" class="purchasableId hide">
                                    {%- for purchasable in product.getVariants() -%}
                                        <option {% if not purchasable.isAvailable %}disabled {% endif %}
                                            data-info="product-{{ product.id }}-purchasable-{{ purchasable.id }}"
                                            value="{{ purchasable.id }}">
                                            {{ purchasable.description }} {{ purchasable.salePrice|commerceCurrency(cart.currency) }} #}
                                        </option>
                                    {%- endfor -%}
                                </select>

                                {# <select name="options[giftWrapped]">
                                    <option value="no">No gift wrap.</option>
                                    <option value="yes">Gift wrapped.</option>
                                </select> #}

                                {% if product.hasUnlimitedStock or (product.hasUnlimitedStock == false and product.totalStock > 0 ) %}

                                    {% if currentUser %}
                                        {% set order = craft.orders.user(currentUser).isCompleted(true).hasPurchasables(product.defaultVariant).all() %}
                                        {% if order|length %}
                                            {# <p>Previously Ordered: #{{ order[0].shortNumber }}</p> #}
                                            <button class="waves-effect waves-light btn" type="submit">{{ "Previous Purchase"|t }}</button>
                                        {% else %}
                                            <button class="waves-effect waves-light btn" type="submit">{{ "Buy Now"|t }}</button>
                                        {% endif %}
                                    {% else %}
                                        <button class="waves-effect waves-light btn" type="submit">{{ "Buy Now"|t }}</button>
                                    {% endif %}
                            
                                {% else %}
                                    <button class="btn disabled">{{ "Out of Stock"|t }}</button>
                                {% endif %}                            

                            </form>

                            {# {% if currentUser %}
                                {% set order = craft.orders.user(currentUser).isCompleted(true).hasPurchasables(product.defaultVariant).all() %}
                                {% if order|length %}
                                    <strong>I already own this product: </strong> <a href="/shop/customer/order?number={{ order[0].number }}">Order #{{ order[0].shortNumber }}</a>
                                {% endif %}
                            {% endif %} #}

                            {%- for purchasable in product.getVariants() -%}
                                <div id="product-{{ product.id }}-purchasable-{{ purchasable.id }}" class="purchasableInfo" style="display:none;">
                                    <strong>Regular Price: </strong><strike>{{ purchasable.price|commerceCurrency(cart.currency) }}</strike><br>
                                    <strong>Now: </strong>{{ purchasable.salePrice|commerceCurrency(cart.currency) }}<br>
                                    {% if purchasable.sales %}<strong>Sales Applied:</strong><br>{% endif %}
                                    <ul>
                                        {% for sale in purchasable.sales  %}
                                        <li><strong>{{ sale.name }}</strong> {{ sale.description }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {%- endfor -%}
                        {% endif %}
                    </div>

                    {# Card Action #}
                    {# <div class="card-action">
                    </div> #}
                    
                {# End of Card #}
                </div>
                
                </div>

            {% endfor %}

            </div>
        </div>
    </div>
</div>