<nav class="breadcrumbs-nav">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="/" class="breadcrumb">Home</a>
            {% set totalCrumbs = craft.app.request.segments|length %}
            {% for crumb in craft.app.request.segments  %}
              {% if loop.index == totalCrumbs %}
                <a href="{{ craft.app.request.absoluteUrl }}" class="breadcrumb {% if loop.index == totalCrumbs|last %} active {% endif %}" >{{ crumb | capitalize }}</a>
              {% else %}
                <a href="{{ craft.app.request.absoluteUrl | split('/' ~ craft.app.request.getSegment(loop.index + 1))[0] }}" class="breadcrumb {% if loop.index == totalCrumbs|last %} active {% endif %}">{{ crumb | capitalize }}<a>
              {% endif %}
            {% endfor %}
        </div>
    </div>
</nav>