{% set carouselEntries = mainCarousel.carouselItems.all() %}
{% if carouselEntries %}
	<div id="carousel" class="row">
		<div class="carousel carousel-slider">
		{% for entry in carouselEntries %}
			{% set image = entry.carouselImage.one() %}
			{% if image %}
			<div class="carousel-item" style="background: url('{{ image.getUrl('large') }}') center center no-repeat;">
			{% endif %}	
				<div class="overlay"></div>
				<div class="container">
					<div class="row">
						<div class="col s12 m6">
							<h2>{{ entry.carouselTitle }}</h2>
							<p>{{ entry.carouselDescription }}</p>
							<a href="{{ entry.carouselUrl }}" class="btn">Shop Now</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
		</div>
	</div>
{% endif %}
