{% set catSections = homepageCategoryLinks.homepageCategories.all() %}
<div id="category-sections" class="row">
    <div class="container-fluid">
        <div class="row">
        {% for block in catSections %}
        {% set image = block.hpCategoryImage.one() %}
        {% if loop.first %}
            <div class="col s12 m12 l8 cat-card-lrg" style="background: url('{{ image.getUrl() }}') center center no-repeat;">
                <div class="overlay"></div>
                <div class="cat-wrapper">
                    <h2>{{ block.hpCategoryTitle }}</h2>
                    <div class="cat-content">
                        <p>{{ block.hpCategoryDescription }}</p>
                        <a href="{{ block.hpCategoryLink }}"><p class="sub-text">{{ block.hpCategoryLinkTitle }}</p></a>
                    </div>
                </div>
            </div>
        {% elseif loop.index0 == 1 %}
        {# </div>
        <div class="row"> #}
            <div class="col s12 m6 l4 cat-card" style="background: url('{{ image.getUrl() }}') center center no-repeat;">
                <div class="overlay"></div>
                <div class="cat-wrapper">
                    <h2>{{ block.hpCategoryTitle }}</h2>
                    <div class="cat-content">
                        <p>{{ block.hpCategoryDescription }}</p>
                        <a href="{{ block.hpCategoryLink }}"><p class="sub-text">{{ block.hpCategoryLinkTitle }}</p></a>
                    </div>
                </div>
            </div>
        
           
        {% else %}
            <div class="col s12 m6 l4 cat-card" style="background: url('{{ image.getUrl() }}') center center no-repeat;">
                <div class="overlay"></div>
                <div class="cat-wrapper">
                    <h2>{{ block.hpCategoryTitle }}</h2>
                    <div class="cat-content">
                        <p>{{ block.hpCategoryDescription }}</p>
                        <a href="{{ block.hpCategoryLink }}"><p class="sub-text">{{ block.hpCategoryLinkTitle }}</p></a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
</div>