{# DEVELOPMENT - TO BE DELETED #}
<div class="row development">
    <div class="col s12">
        {% if devMode %}
            <p class="dev-text-light"><span>Development Bar</span> || <span>Template Loaded: </span>{{ _self }} {% if productCountDevelopment is defined %}%<span>Products: </span>{{ productCountDevelopment }}{% endif %}</p>
        {% endif %}
    </div>
</div>
{# DEVELOPMENT #}