<div class="container-fluid newsletter-block">
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l6">
                <h2>Latest news, special offers & more</h2>
            </div>
            <div class="col s12 m12 l6">
                <form action="" class="row">
                    <div class="input-field col s12 m6 email-field">
                        <input id="email" type="email" class="validate" placeholder="Enter your email address...">
                    </div>
                    <div class="input-field col s12 m3 btn-field">
                        <input value="Sign Up" type="submit" class="validate btn">
                    </div>
                    <div class="input-field col s12 m3 privacy-field">
                        <a href="{{ siteUrl('privacy-policy') }}">Privacy Policy</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>