<div id="quick-links" class="container hide-custom-navigation">
    <div class="row">
        <div class="col s12 m4"><a href="#">Free delivery on orders over £120</a></div>
        <div class="col s12 m4 ql-middle"><a href="#">View our 2020 wine guide</a></div>
        <div class="col s12 m4"><a href="#">Expert advice contact us</a></div>
    </div>
</div>