{% set foodCatQuery = craft.categories()
    .group('foodMatches') %}
{% set foodCats = foodCatQuery.all() %}

{% set wineCatQuery = craft.categories()
    .group('wine') %}
{% set wineCats = wineCatQuery.all() %}

<div id="quick-finder" class="row">
    <div class="col s12">
        <div class="container">
            <div class="row qf-title-wrap">
                <div class="col s12">
                    <p class="qf-title">Quick Finder</p>
                </div>
            </div>
            <div class="row">
                <form method="get" action="{{ siteUrl('search/index') }}">
                    {# <div class="input-field col s12 m3 text-block">
                        <input placeholder="Search for..." id="search_term" name="q" type="text" class="validate search-input">
                        <label for="search_term">Search for...</label>
                    </div> #}
                    <div class="col input-field  s12 m3 text-block">
                        <div class="select-wrapper">
                            <input placeholder="Search for..." id="search_term" name="q" type="text" class="validate" style="margin-bottom: 0px; border-bottom: 0px; height: 60px;">
                        </div>
                    </div>
                    <div class="input-field col s12 m3">
                        <select name="price-range">
                            <option value="" disabled selected>Price</option>
                            <option value="{{ '<= 50' }}">Under £50</option>
                            <option value="{{ '<= 100' }}">Under £100</option>
                            <option value="{{ '>= 100' }}">Over £100</option>
                        </select>
                    </div>
                    {# <div class="input-field col s12 m3">
                        <select>
                            <option value="" disabled selected>Food Match (Any)</option>
                            {% for foodCat in foodCats %}
                            <option value="{{ foodCat.handle }}">{{ foodCat.title }}</option>
                            {% endfor %}
                        </select>
                    </div> #}
                    <div class="input-field col s12 m3">
                        <select name="wine-type">
                            <option value="" disabled selected>Type</option>
                            {% for wineCat in wineCats %}
                            <option value="{{ wineCat.id }}">{{ wineCat.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="input-field col s12 m3">
                        <button class="btn" value="submit">Find Wine</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>