<div id="slide-out-filter" class="sidenav filter">
    <div class="filter-header">
        <h3>Filter by</h3>
        <a href="#" class="sidenav-close right">close X</a>
    </div>
    <ul class="collapsible expandable">
    {% for categoryGroup in navItems.categoryGroups %}
        <li class="{% if loop.first %}{% endif %}">
            <h3 class="filter-cat-name collapsible-header">{{ categoryGroup.name }}</h5>
            <ul class="collapsible-body">
                {% for category in attribute( navItems.categories, categoryGroup.handle ) %}
                    <li{% if category.active %} class="active"{% endif %}>
                        <a href="{{ url('shop'~category.url.add) }}" class="add"><i class="far fa-circle"></i> {{ category.title }}</a>
                        {% if category.active %} <a href="{{ url('shop'~category.url.remove) }}" class="remove" title="Remove this filter">Remove</a> {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>