{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% include '_shared/_head' %}
    {% block body %}
        <div id="main" class="container">
            {% block main %}
                <h1>Default Content</h1>
                <p>You should not see this.</p>
            {% endblock %}
        </div>
    {% endblock %}
{% include '_shared/_footer' %}