{% extends "_layout" %}
{% block content %}

    <div class="carousel carousel-slider center defaultHero">
        <div class="defaultHero--breadcrumbs">
            {% include "components/_breadcrumbs" %}
        </div>
        <div class="carousel-item white-text defaultHero---slide " href="#one!" style="background-image:url('{{ entry.mainImage.one.url|default('') }}');background-size:cover;background-position:center center;background-repeat:no-repeat;">
            <div class="defaultHero--pageTitle center">
                <h1>{{ entry.title }}</h1>
            </div>
        </div>
    </div>

    {% if entry.body|length %}
        <div class="row wine-club-information defaultBody">
            <div class="col s12">
                <div class="container">
                <div class="row">
                        <div class="col s12">
                            {{ entry.body }}
                        </div>
                </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include "_partials/_page_builder" %}

<!-- <div class="carousel carousel-slider center defaultHero">
    <div class="defaultHero--breadcrumbs">
        {% include "components/_breadcrumbs" %}
    </div>
    <div class="carousel-item white-text defaultHero---slide " href="#one!" style="background-image:url('/assets/images/weddings-hero@2x.jpg');background-size:cover;background-position:center center;background-repeat:no-repeat;">
        <div class="defaultHero--pageTitle center">
            <h1>Our Story</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="" class="btn btn-bronze waves-effects">Enquiry form</a></p>
        </div>
    </div>
    <div class="carousel-item white-text defaultHero---slide " href="#two!" style="background-image:url('/assets/images/weddings-hero@2x.jpg');background-size:cover;background-position:center center;background-repeat:no-repeat;">
        <div class="defaultHero--pageTitle center">
            <h1>Our Story</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><a href="" class="btn btn-bronze waves-effects">Enquiry form</a></p>
        </div>
    </div>
</div> -->

<!-- <div class="row wine-club-information defaultBody">
    <div class="col s12">
        <div class="container">
           <div class="row">
                <div class="col s12">
                    <h2>Delicious wines delievered regularly to your door</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in uienply voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat norin proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in uienply voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    </p>
                    <img scr="/assets/images/entry-image-1.jpg" />
                    <div class="defaultBody--links">
                        <a href="#" class="btn waves-effect btn-space-30">Register Now</a>
                        <a href="#" class="btn waves-effect btn-light btn-ghost">View Events</a>
                        <div class="defaultBody--awards"><img src="/assets/images/drinks-icons.svg" alt="" /></div>
                    </div>
   
                </div>
           </div>
        </div>
    </div>
</div> -->

<!-- <div class="defaultBody--imageGrid">
    <div class="item"><img src="/assets/images/vineyard-img@2x.jpg" class="responsive-img events-img" /></div>
    <div class="item"><img src="/assets/images/vineyard-img@2x.jpg" class="responsive-img events-img" /></div>
</div> -->

<!-- <div class="row wine-club-information defaultBody">
    <div class="col s12">
        <div class="container">
           <div class="row">
                <div class="col s12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
           </div>
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col s12">
            <div class="defaultBody--paging">
                <ul>
                    <li>Next</li>
                    <li><a href="" class="prev"></a></li>
                    <li><a href="" class="next"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="featureBoxes">
    <div class="featureBoxes--inner">
        <div class="featureBoxes--item bg-bronze">
            <div class="featureBoxes--image">
                <img src="/assets/images/featured-glasses@2x.jpg"  alt="" />
            </div>
            <div class="featureBoxes--text">
                <h3>Glasses</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.</p>
                <a href="" class="btn">Read More</a>
            </div>
        </div>
        <div class="featureBoxes--item bg-brown">
            <div class="featureBoxes--image">
                <img src="/assets/images/featured-bottles@2x.jpg"  alt="" />
            </div>
            <div class="featureBoxes--text">
                <h3>Choosing your bottles</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.</p>
                <a href="" class="btn">Read More</a>
            </div>
        </div>
        <div class="featureBoxes--item bg-green">
            <div class="featureBoxes--image">
                <img src="/assets/images/featured-toptips@2x.jpg"  alt="" />
            </div>
            <div class="featureBoxes--text">
                <h3>Our Top Tips</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero labore et dolore magna aliqua.</p>
                <a href="" class="btn">Read More</a>
            </div>
        </div> 
    </div>       
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="cta center">
                <p>Got a question for us? <a href="/faqs">View our FAQs</a> or chat to our team.</p>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}