{% extends "_layout" %}
{% block content %}
    <div class="carousel carousel-slider center defaultHero">
        <div class="defaultHero--breadcrumbs">
            {% include "components/_breadcrumbs" %}
        </div>
        <div class="carousel-item white-text defaultHero---slide " href="#one!" style="background-image:url('{{ event.mainImage.one.url|default('') }}');background-size:cover;background-position:center center;background-repeat:no-repeat;">
            <div class="defaultHero--pageTitle center">
                <h1>{{ event.title }}</h1>
                {% if event.isAvailable %} 
                    {% for ticket in event.tickets %} 
                        <h3 class="events-price baskerville-Bold"><strong>&pound;{{ ticket.price }}</strong></h3>
                    {% endfor %} 
                {% else %} 
                    <p class="events-sold-out"><strong>Sold out</strong></p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if event.body|length %}
        <div class="row wine-club-information defaultBody">
            <div class="col s12">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            {{ event.body }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row wine-club-information defaultBody">
        <div class="col s12">
            <div class="container">
              <div class="row">
                    <div class="col s12">
                        <h2>Private Tasting Events</h2>                          
                        <p>Our tasting experts also design private, tutored tastings – a fun way to help celebrate your birthday, special occasions, or reward your team at work.</p>
                        <p>To get a quote, please let us know your requirements.</p>
                        <p><a href="https://www.surveymonkey.co.uk/r/M2F9YVS" class="btn waves-effect btn-space-30 ">Get in Touch</a></p>
                    </div>
              </div>
            </div>
        </div>
    </div>

{% endblock %}