{% extends "_layout" %}
{% block content %}
{% set eventsQuery = craft.events.events()
    .limit(24) %}
{% set events = eventsQuery.all() %}
{# {% dd(events) %} #}
<div id="events" class="container">
    <div class="row events-breadcrumbs">
        <div class="col s12">
            {% include "components/_breadcrumbs" %}
        </div>
    </div>
    <div class="row events-page-title">
        <div class="col s12 center">
            <h1>All Events</h1>
            {#<a class="dropdown-trigger events-dropdown" data-target="events-selector"><h1>All Events</h1> <i class="fas fa-chevron-down"></i></a>
            <ul id="events-selector" class="dropdown-content">
                <li><a href="#">Event Type One</a></li>
                <li><a href="#">Event Type Two</a></li>
            </ul> #}
        </div>
    </div>
    {% include "_partials/_page_builder" %}
    <ul class="row events-blocks">
        {% for event in events %}
            <li class="events-card col l6 s12">
                {% if event.mainImage|length %}
                    <img class="responsive-img events-img" src="{{ event.mainImage.one.url|default('') }}" alt="Placeholder Image">
                {% else %}
                    <img class="responsive-img events-img" src="https://highburywines.staging.palebluedot.tv/assets/images/placeholder.jpg" alt="Placeholder Image">
                {% endif %}
                <div class="events-card-content">
                    <span class="events-type">{{ event.type }}</span>
                    <div class="events-copy">
                        <h2 class="events-title">{{ event.title }}</h2>
                        {% if event.isAvailable %} 
                            {% for ticket in event.tickets %} 
                                <p class="events-price">&pound;{{ ticket.price }}</p>
                            {% endfor %} 
                        {% else %} 
                            <p class="events-sold-out"><strong>Sold out</strong></p>
                        {% endif %}
                        {#{% if event.allDay %}
                            <span class="events-date">{{ event.startDate| }}</span>
                        {% endif %}#}
                    </div>
                    <a href="{{ event.url }}" class="events-btn btn waves-effect waves-light">View Event</a>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}