{% extends "_layout" %}
{% block content %}

<div id="dashboard" class="container">
    <div class="row dash-links">
        <div class="col s12 m6 left-align">
            {% if currentUser %}
            <p><i class="fas fa-user"></i> Hi <span>{{ currentUser.username }}</span>, welcome back</p>
            {% endif %}
        </div>
        <div class="col s12 m6 right-align">
            <p><a href="{{ logoutUrl }}">Logout <i class="fas fa-sign-out-alt"></i></a></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h1>My Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m4 l2 center dash-icon">
            <a href="{{ siteUrl('shop/customer/addresses') }}">
                <img src="https://highburywines.staging.palebluedot.tv/assets/icons/Address.svg" alt="">
            </a>
        </div>
        <div class="col s12 m4 l2 center dash-icon">
            <a href="{{ siteUrl('shop/customer') }}">
                <img src="https://highburywines.staging.palebluedot.tv/assets/icons/Delivery.svg" alt="">
            </a>
        </div>
        <div class="col s12 m4 l2 center dash-icon">
            <a href="{{ siteUrl('shop/customer/addresses/edit') }}">
                <img src="https://highburywines.staging.palebluedot.tv/assets/icons/Group.svg" alt="">
            </a>
        </div>
        <div class="col s12 m4 l2 center dash-icon">
            <a href="{{ siteUrl('account/edit') }}">
                <img src="https://highburywines.staging.palebluedot.tv/assets/icons/Head.svg" alt="">
            </a>
        </div>
        <div class="col s12 m4 l2 center dash-icon">
            <a href="{{ siteUrl('gift-lists') }}">
                <img src="https://highburywines.staging.palebluedot.tv/assets/icons/List.svg" alt="">
            </a>
        </div>
        <div class="col s12 m4 l2 center dash-icon">
            <a href="{{ siteUrl('shop/customer/cards') }}">
                <img src="https://highburywines.staging.palebluedot.tv/assets/icons/Payment.svg" alt="">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul>
                <li><a href="{{ siteUrl() }}">FAQs</a></li>
                <li><a href="{{ siteUrl() }}">Delivery &amp; Returns</a></li>
                <li><a href="{{ siteUrl() }}">Terms &amp; Conditions</a></li>
                <li><a href="{{ siteUrl('contact-us') }}">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}