{% extends "_layout" %}
{% block content %}

<div id="edit-profile" class="container">
    <div class="row">
        <div class="col s12">
            {# <h1>{{ entry.title }}</h1> #}
        </div>
    </div>

    {% requireLogin %}

    <form id="profile-form" class="profile-form" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
        {{ actionInput('users/save-user') }}

        {{ csrfInput() }}

        {{ hiddenInput('userId', currentUser.id) }}

        <div>
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="firstName" value="{{ currentUser.firstName }}">
        </div>

        <div>
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="lastName" value="{{ currentUser.lastName }}">
        </div>

        <div>
            <label for="photo">Photo</label>

            {% if currentUser.photo %}
            <div>
                <img id="user-photo" src="{{ currentUser.photo.url() }}" alt="">
            </div>
            {% endif %}
        </div>

        <div>
            {# This file field takes precedence over the ”Delete photo” checkbox #}
            <label for="photo">Select photo</label>
            <input id="photo" type="file" name="photo" accept="image/png,image/jpeg">
        </div>

        <div>
            {# If a file has been selected, this has no effect #}
            <p>
                <label>
                    <input id="deletePhoto" type="checkbox" name="deletePhoto">
                    <span>Delete photo</span>
                </label>
            </p>
        </div>

        <div>
            <input class="btn" type="submit" value="Save Profile">
            <a class="btn" href="{{ craft.request.url }}">Reset</a>
        </div>
    </form>
</div>

{% endblock %}