{% extends "_layout" %}
{% block content %}

<div id="registration" class="container">
    <div class="row">
        <div class="col s12">
            <h1>Register for an account</h1>
        </div>
    </div>

    <form method="post" accept-charset="UTF-8" class="row">
        {{ csrfInput() }}
        {{ actionInput('users/save-user') }}
        {{ redirectInput('account/dashboard') }}

        {% macro errorList(errors) %}
            {% if errors %}
                <ul class="errors">
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endmacro %}

        <div class="input-field col s12">
            <input id="username" type="text" name="username" {%- if user is defined %} value="{{ user.username }}"{% endif -%}>
            <label for="username">Username</label>
        </div>

        {% if user is defined %}
            {{ _self.errorList(user.getErrors('username')) }}
        {% endif %}

        <div class="input-field col s12">
            <input id="email" type="text" name="email" {%- if user is defined %} value="{{ user.email }}"{% endif %}>
            <label for="email">Email</label>
        </div>

        {% if user is defined %}
            {{ _self.errorList(user.getErrors('email')) }}
        {% endif %}

        <div class="input-field col s12">
            <input id="password" type="password" name="password">
            <label for="password">Password</label>
        </div>

        {% if user is defined %}
            {{ _self.errorList(user.getErrors('password')) }}
        {% endif %}

        <div class="col s12 m3">
            <input class="btn btn-secondary" type="submit" value="Register">
        </div>
    </form>

{% endblock %}