{% set countries = craft.commerce.countries.allCountriesAsList %}
{% set states = craft.commerce.states.allStatesAsList %}

{% set modelName = modelName is defined ? modelName : 'address' %}
{% set model = address is defined ? address : null %}

<div class="addressBox row {{ modelName }}">

    <div class="col s12">
        <div class="row">

            {# <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-attention" class="w-full" name="{{ modelName }}[attention]" value="{{ model ? model.attention : '' }}">
                <label for="{{ modelName }}-attention">Attention</label>
                {% if model and model.getErrors('attention') %}
                    <span class="flash">{{ model.getErrors('attention')|join }}</span>
                {% endif %}
            </div> #}

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-title" class="w-full" name="{{ modelName }}[title]" value="{{ model ? model.title : '' }}">
                <label for="{{ modelName }}-title">Title</label>
                {% if model and model.getErrors('title') %}
                    <span class="flash">{{ model.getErrors('title')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-firstName" class="w-full" name="{{ modelName }}[firstName]" value="{{ model ? model.firstName : '' }}">
                <label for="{{ modelName }}-firstName">First Name *</label>
                {% if model and model.getErrors('firstName') %}
                    <span class="flash">{{ model.getErrors('firstName')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-lastName" class="w-full" name="{{ modelName }}[lastName]" value="{{ model ? model.lastName : '' }}">
                <label for="{{ modelName }}-lastName">Last Name *</label>
                {% if model and model.getErrors('lastName') %}
                    <span class="flash">{{ model.getErrors('lastName')|join }}</span>
                {% endif %}
            </div>

            {# <div class="input-field col s12">   
                <input type="text" id="{{ modelName }}-fullName" class="w-full" name="{{ modelName }}[fullName]" value="{{ model ? model.fullName : '' }}">
                <label for="{{ modelName }}-fullName">Full Name</label>
                {% if model and model.getErrors('fullName') %}
                    <span class="flash">{{ model.getErrors('fullName')|join }}</span>
                {% endif %}
            </div> #}

            {# <div class="input-field col s12"> 
                <input type="text" id="{{ modelName }}-label" class="w-full" name="{{ modelName }}[label]" value="{{ model ? model.label : '' }}">
                <label for="{{ modelName }}-label">Label</label>
                {% if model and model.getErrors('label') %}
                    <span class="flash">{{ model.getErrors('label')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12"> 
                <input type="text" id="{{ modelName }}-businessName" class="w-full" name="{{ modelName }}[businessName]" value="{{ model ? model.businessName : '' }}">
                <label for="{{ modelName }}-businessName">Business Name</label>
                {% if model and model.getErrors('businessName') %}
                    <span class="flash">{{ model.getErrors('businessName')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12"> 
                <input type="text" id="{{ modelName }}-businessTaxId" class="w-full" name="{{ modelName }}[businessTaxId]" value="{{ model ? model.businessTaxId : '' }}">
                <label for="{{ modelName }}-businessTaxId">Business Tax ID</label>
                {% if model and model.getErrors('businessTaxId') %}
                    <span class="flash">{{ model.getErrors('businessTaxId')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12"> 
                <input type="text" id="{{ modelName }}-businessId" class="w-full" name="{{ modelName }}[businessId]" value="{{ model ? model.businessId : '' }}">
                <label for="{{ modelName }}-businessId">Business ID</label>
                {% if model and model.getErrors('businessId') %}
                    <span class="flash">{{ model.getErrors('businessId')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12"> 
                <input type="text" id="{{ modelName }}-custom1" class="w-full" name="{{ modelName }}[custom1]" value="{{ model ? model.custom1 : '' }}">
                <label for="{{ modelName }}-custom1">Custom 1</label>
                {% if model and model.getErrors('custom1') %}
                    <span class="flash">{{ model.getErrors('custom1')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-custom2" class="w-full" name="{{ modelName }}[custom2]" value="{{ model ? model.custom2 : '' }}">
                <label for="{{ modelName }}-custom2">Custom 2</label>
                {% if model and model.getErrors('custom2') %}
                    <span class="flash">{{ model.getErrors('custom2')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-custom3" class="w-full" name="{{ modelName }}[custom3]" value="{{ model ? model.custom3 : '' }}">
                <label for="{{ modelName }}-custom3">Custom 3</label>
                {% if model and model.getErrors('custom3') %}
                    <span class="flash">{{ model.getErrors('custom3')|join }}</span>
                {% endif %}
            </div>
            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-custom4" class="w-full" name="{{ modelName }}[custom4]" value="{{ model ? model.custom4 : '' }}">
                <label for="{{ modelName }}-custom4">Custom 4</label>
                {% if model and model.getErrors('custom4') %}
                    <span class="flash">{{ model.getErrors('custom4')|join }}</span>
                {% endif %}
            </div> #}
        </div>

        <div class="row">

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-address1" class="w-full" name="{{ modelName }}[address1]" value="{{ model ? model.address1 : '' }}">
                <label for="{{ modelName }}-address1">Address 1</label>
                {% if model and model.getErrors('address1') %}
                    <span class="flash">{{ model.getErrors('address1')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-address2" class="w-full" name="{{ modelName }}[address2]" value="{{ model ? model.address2 : '' }}">
                <label for="{{ modelName }}-address2">Address 2</label>
                {% if model and model.getErrors('address2') %}
                    <span class="flash">{{ model.getErrors('address2')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12"> 
                <input type="text" id="{{ modelName }}-address3" class="w-full" name="{{ modelName }}[address3]" value="{{ model ? model.address3 : '' }}">
                <label for="{{ modelName }}-address3">Address 3</label>
                {% if model and model.getErrors('address3') %}
                    <span class="flash">{{ model.getErrors('address3')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12"> 
                <input type="text" id="{{ modelName }}-city" class="w-full" name="{{ modelName }}[city]" value="{{ model ? model.city : '' }}">
                <label for="{{ modelName }}-city">City</label>
                {% if model and model.getErrors('city') %}
                    <span class="flash">{{ model.getErrors('city')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12"> 
                <input type="text" id="{{ modelName }}-zipCode" class="w-full" name="{{ modelName }}[zipCode]" value="{{ model ? model.zipCode : '' }}">
                <label for="{{ modelName }}-zipCode">Post Code</label>
                {% if model and model.getErrors('zipCode') %}
                    <span class="flash">{{ model.getErrors('zipCode')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-phone" class="w-full" name="{{ modelName }}[phone]" value="{{ model ? model.phone : '' }}">
                <label for="{{ modelName }}-phone">Phone</label>
                {% if model and model.getErrors('phone') %}
                    <span class="flash">{{ model.getErrors('phone')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12">
                <input type="text" id="{{ modelName }}-alternativePhone" class="w-full" name="{{ modelName }}[alternativePhone]" value="{{ model ? model.alternativePhone : '' }}">
                <label for="{{ modelName }}-alternativePhone">Alternative Phone</label>
                {% if model and model.getErrors('alternativePhone') %}
                    <span class="flash">{{ model.getErrors('alternativePhone')|join }}</span>
                {% endif %}
            </div>

            {# <div class="input-field col s12">
                <label for="{{ modelName }}-state">County</label>
                {% set options = (model and states[model.countryId] is defined ? states[model.countryId] : []) %}
                <select id="{{ modelName }}-stateId" data-modelname="{{ modelName }}" class="address-stateId w-full {% if options|length == 0 %}hidden{% endif %}" name="{{ modelName }}[stateValue]">
                    {% for key, option in options %}
                        {% set optionValue = (model ? model.stateId : '') %}
                        <option value="{{ key }}" {% if key == optionValue %}selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
                <input type="text" data-modelname="{{ modelName }}" id="{{ modelName }}-stateName" class="address-stateName {% if options|length > 0 %}hidden{% endif %} w-full" {% if options|length == 0 %}name="{{ modelName }}[stateValue]"{% endif %} value="{{ model ? model.stateName : '' }}">
                {% if model and model.getErrors('stateValue') %}
                    <span class="flash">{{ model.getErrors('stateValue')|join }}</span>
                {% endif %}
            </div> #}

            <div class="input-field col s12">
                {# <label for="{{ modelName }}-countryId">Country *</label> #}
                <select class="address-country" name="{{ modelName }}[countryId]">
                    {% for key, option in countries %}
                        {% set optionValue = (model ? model.countryId : '') %}
                        <option value="{{ key }}" {% if key == optionValue %} selected{% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
                {% if model and model.getErrors('countryId') %}
                    <span class="flash">{{ model.getErrors('countryId')|join }}</span>
                {% endif %}
            </div>

            <div class="input-field col s12">
                <label for="{{ modelName }}-notes">Notes</label>
                <textarea class="materialize-textarea" name="{{ modelName }}[notes]" id="{{ modelName }}-notes" cols="30" rows="10">{{ model ? model.notes : '' }}</textarea>
                {% if model and model.getErrors('notes') %}
                    <span class="flash">{{ model.getErrors('notes')|join }}</span>
                {% endif %}
            </div>

        </div>
    </div>
</div>

{% js %}
var states = {{ craft.commerce.states.allStatesAsList|json_encode|raw }};

    $('select.address-country').change(function ()
    {
        // get the value of the selected country.
        var cid = $(this).val();
        var $states = $(this).closest('.addressBox').find('select.address-stateId');
        var $stateName = $(this).closest('.addressBox').find('input.address-stateName');
        $states.find('option').remove();

        if (states.hasOwnProperty(cid))
        {
            // We have states for this country, show the states drop down.
            $states.removeClass('hidden');
            $states.attr('name', $states.data('modelname')+'[stateValue]');

            // We have states for this country, hide the stateName input.
            $stateName.removeAttr('name');
            $stateName.addClass('hidden');
            $stateName.val('');

            // Add all states as options to drop down.
            for (var id in states[cid])
            {
                var state = states[cid][id];
                var $option = $('<option/>');
                $option.attr('value', id).text(state);
                $states.append($option);
            }

        }else{
            // hide the states dropdown, since this country has none.
            $states.addClass('hidden');
            $states.removeAttr('name');

            // show the stateName
            $stateName.removeClass('hidden');
            $stateName.attr('name', $stateName.data('modelname')+'[stateValue]');
        }

    });

    $('select').addClass('form-control input-sm');

    {% endjs %}
