{% extends 'shop/_layouts/main' %}

{% set extraHead %}
{# We don't want the order info indexed by search engines. #}
<meta name="robots" content="noindex">
{% endset %}

{% block main %}
    {% if currentUser %}
        {% set orders = craft.orders.customer(craft.commerce.customers.customer).isCompleted(true).all() %}

        <div class="row orders-nav">
            <div class="col s12 m6 left-align">
            {% if currentUser %}<a href="{{ url('account/dashboard') }}">return to My Dashboard</a>{% endif %}
            </div>
            <div class="col s12 m6 right-align">
                <a href="{{ logoutUrl }}">Logout</a>
            </div>
        </div>

        <div class="row orders-title">
            <div class="col s12">
                <h1>My Orders</h1>
            </div>
        </div>
        
        {% if orders|length %}
            <div class="row orders">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 m6">{{ "Order"|t }}</div>
                        <div class="col s12 m2">{{ "Date"|t }}</div>
                        <div class="col s12 m2">{{ "Total Quantity"|t }}</div>
                        <div class="col s12 m2">{{ "Total"|t }}</div>
                    </tr>
                    {# Get completed orders for the current customer.#}
                    {% for order in craft.orders.customer(craft.commerce.customers.customer).isCompleted(true).all() %}
                        <div class="row">
                            <div class="col s12 m6"><a href="{{ url('shop/customer/order', { number: order.number }) }}">Order {{ order.reference }}</a></div>
                            <div class="col s12 m2">{{ order.dateOrdered|date }}</div>
                            <div class="col s12 m2">{{ order.totalQty }} item(s)</div>
                            <div class="col s12 m2">{{ order.totalPrice|commerceCurrency(cart.currency) }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        {% else %}
            <div class="row">
                <div class="col s12">
                    {# <i class="fas fa-box-open"></i> #}
                    <p>You don’t have any orders yet.</p>
                    <a href="{{ url('shop/products') }}">Continue shopping</a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
