{% extends 'shop/_layouts/main' %}

{% set extraHead %}
{# We don't want the order info indexed by search engines. #}
<meta name="robots" content="noindex">
{% endset %}

{% set number = craft.app.request.getRequiredParam('number') %}
{% set order = craft.orders.number(number).one() %}
{% if not order or order.isCompleted == false %}
    {% redirect 'shop/customer' %}
{% endif %}

{% block main %}
    <div class="row order-nav">
        <div class="col s12 m6 left-align">
        {% if currentUser %}<a href="{{ url('shop/customer') }}">View All Orders</a>{% endif %}
        </div>
        <div class="col s12 m6 right-align">
            <a href="{{ logoutUrl }}">Logout</a>
        </div>
    </div>

    <div class="row order-title">
        <div class="col s12">
            <h1>Order {{ order.reference }}</h1>
        </div>
    </div>
    
    <div class="row order-customer-details">
        <div class="col s12 m6">
            <h3>Details</h3>

            <ul class="list-reset">
                <li><strong>{{ "Customer"|t }}:</strong> {{ order.customer.email }}<br></li>
                <li><strong>{{ "Total"|t }}:</strong> {{ order.totalPrice|commerceCurrency(cart.currency) }}<br></li>
                <li><strong>{{ "Amount Paid"|t }}:</strong> {{ order.totalPaid|commerceCurrency(cart.currency) }}<br></li>
                <li><strong>{{ "Date"|t }}:</strong> {{ order.dateOrdered|date('D jS M Y') }}<br></li>
                {% if order.pdfUrl %}
                    <li><strong>Receipt:</strong> <a href="{{ order.getPdfUrl('receipt') }}">Download</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col s12 m3">
            <h3>Shipping Address</h3>
            {% if order.shippingAddress %}
            {% include 'shop/_includes/addresses/address' with { address: order.shippingAddress } %}
            {% endif %}
        </div>
        <div class="col s12 m3">
            <h3>Billing Address</h3>
            {% if order.billingAddress %}
            {% include 'shop/_includes/addresses/address' with { address: order.billingAddress } %}
            {% endif %}
        </div>
    </div>

    <div class="row order-purchase-details">
        <div class="col s12 details-header">
            <div class="row">
                <div class="col s12 m6"><h3>Item(s)</h3></div>
                <div class="col s12 m2"><h3>Unit Price</h3></div>
                <div class="col s12 m2"><h3>Quantity</h3></div>
                <div class="col s12 m2"><h3>Total</h3></div>
            </div>
        </div>

        <div class="col s12 details-body">
            
            {% for item in order.lineItems %}
            <div class="row">
                <div class="col s12 m6">
                    <strong>{{ item.description }}</strong><br>
                    SKU: {{ item.sku }}
                </div>
                <div class="col s12 m2">
                    {% if item.onSale %}
                        <strike>{{ item.price|commerceCurrency(cart.currency) }}</strike>   {{ item.salePrice|commerceCurrency(cart.currency) }}
                    {% else %}
                        {{ item.price|commerceCurrency(cart.currency) }}
                    {% endif %}
                </div>
                <div class="col s12 m2">{{ item.qty }}</div>
                <div class="col s12 m2">{{ item.subtotal|commerceCurrency(cart.currency) }}</div>
            </div>
            {% endfor %}
            

            <div class="row">
                <div class="col s12 m4">
                    <p>Item Total: {{ order.itemTotal|commerceCurrency(cart.currency) }}</p>
                    {% for adjustment in order.adjustments %}
                        <p>{{ adjustment.name }} <span>{{ adjustment.amount|commerceCurrency(cart.currency) }}</span></p>
                    {% endfor %}
                    <h4>Total: {{ order.totalPrice|commerceCurrency(cart.currency) }}</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
