{% set page = craft.app.request.absoluteUrl %}

<nav id="desktop-nav" class="nav-extended">
    <div class="nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <a id="desktop-logo" href="{{ siteUrl }}" class="brand-logo center">
                        <img src="https://highburywines.staging.palebluedot.tv/assets/images/Highbury-Vintners-Logo-Reversal.svg" alt="Highbury Vintners Logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>