{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}

{% include "/components/_newsletter" %}

<footer class="page-footer">
    <div class="footer-navigation">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <a href="#" class="footer-navigation--headingLink">View Wine Guide 2020</a>
                </div>
                <div class="col s12 m4 center">
                    <img src="/assets/images/footer-logo.svg" alt="Highbury Vintners" id="footer-logo" />
                </div>
                <div class="col s12 m4">
                    <ul class="social-links-list">
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m7">
                <div class="row">
                    <div class="col s12 m4">
                        <h5 class="">Online Shop</h5>
                        <ul>
                            <li class="footer-list-item"><a class="footer-link" href="/shop/wine">Wine</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/shop/spirits">Spirits</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/shop/mixed-cases">Mixed Cases</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/shop/vouchers">Vouchers</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m4">
                        <h5 class="">Gifts</h5>
                        <ul>
                            <li class="footer-list-item"><a class="footer-link" href="/gift-list">Wine</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/gift-list!">Spirits</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/gift-list">Vouchers</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/gift-list">Event Tickets</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m4">
                        <h5 class="">About Us</h5>
                        <ul>
                            <li class="footer-list-item"><a class="footer-link" href="/about-us">Our Story</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/about-us/work-at-highbury">Work at Highbury</a></li>
                            {# <li class="footer-list-item"><a class="footer-link" href="/trade-sales">Trade Sales</a></li> #}
                            <li class="footer-list-item"><a class="footer-link" href="/about-us/blog">Blog</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m5">
                <div class="row">
                    <div class="col s12">
                        <h5 class="">Contact Us</h5>
                        <ul>
                            <li><a class="footer-link" href="mailto:sales@highburyvintners.co.uk">Sales/Order Enquires</a></li>
                            <li><a class="footer-link" href="tel:0207 226 1347">0207 226 1347</a></li>
                            <li><a class="footer-link" href="mailto:sales@highburyvinters.co.uk">sales@highburyvinters.co.uk</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 m7">
                <div class="row">
                    <div class="col s12 m4">
                        <h5 class="">Events</h5>
                        <ul>
                            <li class="footer-list-item"><a class="footer-link" href="/events">Wine Club</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/events">Tastings</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/events">Weddings</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/events">Wish List</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m4">
                        <h5 class="">Offers</h5>
                        <ul>
                            <li class="footer-list-item"><a class="footer-link" href="/offers">Case Offers</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/offers">Clearance</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="/offers">All Offers</a></li>
                        </ul>
                    </div>
                    <div class="col s12 m4">
                        <h5 class="">Customer Service</h5>
                        <ul>
                            <li class="footer-list-item"><a class="footer-link" href="#!">Delivery & Returns</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="#!">Contact Us</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="#!">Terms & Conditions</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="#!">Privacy Policy</a></li>
                            <li class="footer-list-item"><a class="footer-link" href="">Cookies</a></li>
                        </ul>
                    </div>
                </div> 
            </div> 
            <div class="col s12 m5">
                <div class="row">
                    <div class="col s12 m6">
                        <h5 class="">Opening Hours</h5>
                        <ul class="opening-hours">
                            <li class="footer-list-item"><p>Monday to Thursday <br /><span>11:00am - 9:00pm</span></p></li>
                            <li class="footer-list-item"><p>Friday <span>11:00am - 9:30pm</span></p></li>
                            <li class="footer-list-item"><p>Saturday <span>10:00am - 9:00pm</span></p></li>
                            <li class="footer-list-item"><p>Sunday <span>12:00am - 8:00pm</span></p></li>
                            <li class="footer-list-item"><p>Bank Holidays <span>12:00am - 6:00pm</span></p></li>
                        </ul>
                    </div>
                    <div class="col s12 m6">
                        <h5 class="">Visit our shop</h5>
                        <address>
                            <span>71 Highbury Park</span>
                            <span>London</span>
                            <span>NS 1UA</span>
                            <a href="#" class="footer-link">View Google Maps</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container footer-copyright--inner">
            <!-- TrustBox widget - Micro Review Count -->
            <div class="trustpilot-widget" data-locale="en-GB" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="5e6a112771876d00014e3c62" data-style-height="25px" data-style-width="350px" data-theme="light">
            <a href="https://uk.trustpilot.com/review/highburyvintners.co.uk" target="_blank" rel="noopener">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
            {# © 2020 Copyright Highbury Vinters #}
            <ul class="right payment-icons">
                <li><a href="#"><img src="https://highburyvintners.co.uk/assets/images/maestro-payment-icon.svg" alt="Maestro Payment Logo"></a></li>
                <li><a href="#"><img src="https://highburyvintners.co.uk/assets/images/mastercard-payment-icon.svg" alt="Mastercard Payment Logo"></a></li>
                <li><a href="#"><img src="https://highburyvintners.co.uk/assets/images/verified-sign-payment-icon.svg" alt="Verified Sign Payment Logo"></a></li>
                <li><a href="#"><img src="https://highburyvintners.co.uk/assets/images/visa-payment-icon.svg" alt="Visa Payment Logo"></a></li>
            </ul>
        </div>
    </div>
</footer>

{# <div class="container-fluid">
    <div class="row">
        <div class="col s12 m6 red darken-1 white-text">
            <h5>Commerce Cart Debug Info</h5>
            <ul>
                <li><strong>ID</strong> {{ cart.id }}</li>
                <li><strong>Number</strong> {{ cart.number }}</li>
                <li><strong>Short Number</strong> {{ cart.shortNumber }}</li>
                <li><strong>Email</strong> {{ cart.email }}</li>
                <li><strong>Customer ID</strong> {{ cart.customerId }}</li>
                <li><strong>User</strong> {{ cart.user }}</li>
                <li><strong>Shipping Address ID</strong> {{ cart.shippingAddressId }}</li>
                <li><strong>Billing Address ID</strong> {{ cart.billingAddressId }}</li>
                <li><strong>Estimated Shipping Address ID</strong> {{ cart.estimatedShippingAddressId }}</li>
                <li><strong>Estimated Billing Address ID</strong> {{ cart.estimatedBillingAddressId }}</li>
                <li><strong>Shipping Method Handle</strong> {{ cart.shippingMethodHandle }}</li>
                <li><strong>Coupon</strong> {{ cart.couponCode }}</li>
                <li><strong>Currency</strong> {{ cart.currency }}</li>
                <li><strong>Payment Currency</strong> {{ cart.paymentCurrency }}</li>
                <li><strong>Gateway ID</strong> {{ cart.gatewayId }}</li>
                <li><strong>Payment Source ID</strong> {{ cart.paymentSourceId }}</li>
                <li><strong>Language</strong> {{ cart.orderLanguage }}</li>
                <li><strong>Payment Return URL</strong> {{ cart.returnUrl }}</li>
                <li><strong>Payment Cancel URL</strong> {{ cart.cancelUrl }}</li>
                <li><strong>Last IP</strong> {{ cart.lastIp }}</li>
            </ul>
        </div>
    </div>
</div> #}

<!-- <script type="application/javascript" src="/shop/jquery.js"></script> -->
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/sidenav-blocks.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/megamenu.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/slick.min.js"></script>
<script type="text/javascript" src="{{ siteUrl }}assets/js/clipboard.min.js"></script>

<!-- Main JS -->
<script type="text/javascript" src="{{ siteUrl }}assets/js/app.js"></script>

<!-- **** DONT FORGET TO ADD GOOGLE ANALYTICS **** -->

{#
    The following javascript polls the server every 10 seconds and sees if the cart has changed on another session or browser tab
    and will refresh the page if the current page is out of date. This prevents the customer from changing the cart on another tab,
    then submitting an update cart form action that might overwrite the changes on the other page.
#}
{% js %}
    {# function doPoll(){
        console.log('Commerce example templates : Polling to see if the order changed on another tab or session');
        $.ajax({
            url: '',
            data: {
                '{{ craft.app.config.general.csrfTokenName|e('js') }}': '{{ craft.app.request.csrfToken|e('js') }}',
                'action': 'commerce/cart/get-cart'
            },
            success: function(data) {
                var orderNumberChanged = (data.cart.number != '{{ cart.number }}');
                var orderTotalChanged = (data.cart.totalQty != '{{ cart.totalQty }}');
                var orderTotalPriceChanged = (data.cart.totalPrice != '{{ cart.totalPrice }}');
                if(orderNumberChanged || orderTotalChanged || orderTotalPriceChanged){
                    console.log({'orderNumberChanged' : orderNumberChanged, 'orderTotalChanged' : orderTotalChanged, 'orderTotalPriceChanged': orderTotalPriceChanged});
                    console.log('Order changed.');
                    var r = confirm("Your cart has been updated elsewhere, reload the page?");
                    if (r == true) {
                      location.reload(true);
                    }
                }else{
                    console.log('Commerce example templates : Nothing changed, checking again in 30 seconds.');
                }
                setTimeout(doPoll,120000);
            },
            dataType: 'json'
        });
    }

    setTimeout(doPoll,120000); #}
{% endjs %}

</body>
</html>