<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Highbury Vintners</title>

    <meta name="description" content="Buy wine online or visit our award winning wine shop in Islington, London - Over 1000 wines to choose from.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICON -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ siteUrl }}assets/favicon/manifest.json">
    <link rel="mask-icon" href="{{ siteUrl }}assets/favicon/safari-pinned-tab.svg" color="#1d1d1d "> -->

    <!-- PayPal Sandbox - Development Only -->
    {# <script src="https://www.paypal.com/sdk/js?client-id=AYxmb5OEqJtk4XCQliz09fmLvo64cS6qRsXALOF7McueveKA9Ey6FKsNPJfXuq-sGiclHAqkwScMREuR&currency=GBP"></script> #}

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>

    <script src="https://kit.fontawesome.com/443d8e4721.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/clg2pku.css">
    <link rel="stylesheet" type="text/css" href="{{ siteUrl }}assets/styles/styles.min.css" media="all" />

    {% if extraHead is defined %}
        {{ extraHead }}
    {% endif %}
</head>

<body class="">

    {% if cart is not defined %}
        {% set cart = craft.commerce.carts.cart %}
    {% endif %}

    {% if showNav is not defined %}
        {% set showNav = true %}
    {% endif %}

    {% if showCheckoutNav is not defined %}
        {% set showCheckoutNav = true %}
    {% endif %}

    <div id="header" class="container-fluid">
        {% if showNav %}
            {% include "_shared/nav" %}
            {% include "_shared/_mini-cart" %}
        {% else %}
            {% include "_shared/_checkout-nav" %}
        {% endif %}

        {% if extraHeader is defined %}
            {{ extraHeader }}
        {% endif %}
    </div>

    {% set flashNotice = craft.app.session.getFlash('notice') %}

    {% if flashNotice %}
        <div class="container flash-notice">
            <div class="row">
                <div class="col s12 center white-text">
                    <p>{{ flashNotice }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    {% set flashError = craft.app.session.getFlash('error') %}

    {% if flashError %}
        <div class="container flash-error">
            <div class="row">
                <div class="col s12 center white-text">
                    <p>{{ flashError }}</p>
                </div>
            </div>
        </div>
    {% endif %}

    {% if cart.errors|length %}
        <div class="container cart-errors">
            <div class="row">
                <div class="col s12 white-text">
                {% for attribute, errors in cart.errors %}
                    {% if loop.first %}<ul>{% endif %}
                    {% for key, error in errors %}
                        <li><span>{{ attribute }}: </span>{{ error }}</li>
                    {% endfor %}
                    {% if loop.last %}</ul>{% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
