{% set page = craft.app.request.absoluteUrl %}

{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}

{# Cart dropdown was UL #}
<ul id="cart-dropdown-menu" class="dropdown-content test" style="width: 350px;">
    <li class="dropdown-item mini-cart-amount">
        {% set cartOrders = craft.orders.number(cart.number).one().totalQty ?? '' %}
        {% if cartOrders != 0 %}
            <p>My Basket ({{ cartOrders }})</p>
        {% else %}
            <p>Your basket is empty</p>
        {% endif %}
    </li>
    {% for item in cart.lineItems %}
        <li class="dropdown-item mini-cart-item">
            {% for image in item.purchasable.product.productImage %}
                <img src="{{ image.getUrl('thumbnail') }}">
            {% endfor %}
            <div class="mini-cart-meta">
                <p class="mini-cart-item-title">{{ item.description }}</p>
                <p class="mini-cart-item-price">1 x {{ item.price|commerceCurrency(cart.currency) }}</p>
            </div>
        </li>
    {% endfor %}
    <li class="dropdown-item mini-cart-price center">
        <span class="mini-cart-price">Total: {{ cart.totalPrice|commerceCurrency(cart.currency) }}</span>
    </li>
    <li class="dropdown-item mini-cart-btn center">
        <a class="{% if page == 'cart' %}active{% endif %} btn waves-effect cart-link" href="{{ url('cart') }}">Go to cart</a>
    </li>
</ul>
