{% set page = craft.app.request.absoluteUrl %}

{# Account dropdown #}
<ul id="account-dropdown-menu" class="dropdown-content">
    {% if currentUser %}
        <li class="dropdown-item"><a href="{{ url('account/dashboard') }}">{{ "My Dashboard"|t }}</a></li>
        <li class="dropdown-item"><a href="{{ url('shop/customer') }}">{{ "My Orders"|t }}</a></li>
        <li class="dropdown-item"><a href="{{ url('shop/customer/addresses') }}">{{ "My Addresses"|t }}</a></li>
        <li class="dropdown-item"><a href="{{ url('shop/customer/cards') }}">{{ "My Cards"|t }}</a></li>
        {# {% if craft.commerce.plans.getAllPlans|length %}
        <li class="dropdown-item">
            <a class="{% if page == 'services' %}active{% endif %}" href="{{ url('shop/services') }}">
                {{ "Services" | t }}
            </a>
        </li>
        {% endif %} #}
        <li class="dropdown-item"><a href="{{ logoutUrl }}">Logout</a></li>
    {% else %}
        <li class="nav-item"><a href="{{ loginUrl }}">{{ "Log in" | t }}</a></li>
    {% endif %}
</ul>

<nav id="desktop-nav" class="nav-extended">
    <a href="#" data-target="slide-out" class="sidenav-trigger">
        <i class="material-icons">menu</i>
    </a>
    <div class="nav-wrapper">
        <div class="container">
            <div class="row">
                <div class="col s12 m4 l4 hide-custom-navigation">
                    <form action="{{ url('search') }}" class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-search prefix"></i>
                            <input id="nav-search" type="search" name="q" value="{{ craft.app.request.param('q') }}">
                            <label for="nav-search">SEARCH</label>
                        </div>
                    </form>
                </div>
                <div class="col s6 m4 l4">
                    <a id="desktop-logo" href="{{ siteUrl }}" class="brand-logo center">
                        <img src="https://highburyvintners.co.uk/assets/images/Highbury-Vintners-Logo-Reversal.svg" alt="Highbury Vintners Logo">
                    </a>
                </div>
                <div class="col s6 m4 l4 user-links">
                    <ul class="right">
                            <li class="hide-custom-navigation">
                                <a class="dropdown-trigger user-dropdown" href="#" data-target="account-dropdown-menu">
                                    <i class="fas fa-user"></i>
                                </a>
                            </li>
                            <li>
                                <a href="{{ siteUrl('gift-lists') }}">
                                    <i class="fas fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-trigger cart-dropdown" href="#" data-target="cart-dropdown-menu">
                                    {% set cartOrders = craft.orders.number(cart.number).one().totalQty ?? '' %}
                                    {% if cartOrders != 0 %}
                                    <i class="fas fa-shopping-basket active"></i>
                                    <span class="badge cart-badge">{{ cartOrders }}</span>
                                    {% else %}
                                    <i class="fas fa-shopping-basket"></i>
                                    {% endif %}
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="nav-content hide-custom-navigation">
        <div class="container">
            <div class="menu-container">
                <div class="menu">
                    <ul class="top-level">
                        <li class="top-level-li">
                            <a href="{{ siteUrl('shop/wine') }}">Wine</a>
                            {# <ul class="second-level">
                                {% set subMenuOneItems = subMenus.subMenuOne %}
                                {# <li>
                                    <a href="#">All Wines</a>
                                    <ul class="third-level">
                                        {% for subMenuOneItem in subMenuOneItems.all() %}
                                            <li>{{ subMenuOneItem.subTitle }}</li>
                                        {% endfor %}
                                    </ul>
                                </li> #}

                                {# {% set subMenuTwoItems = subMenus.subMenuTwo %} #}
                                {# <li>
                                    <a href="#">French Wines</a>
                                    <ul>
                                    {% for subMenuTwoItem in subMenuTwoItems.all() %}
                                        <li>{{ subMenuTwoItem.subTitle }}</li>
                                    {% endfor %}
                                    </ul>
                                </li> #}

                                {# {% set subMenuThreeItems = subMenus.subMenuThree %} #}
                                {# <li>
                                    <a href="#">Old World Wines</a>
                                    <ul>
                                    {% for subMenuThreeItem in subMenuThreeItems.all() %}
                                        <li>{{ subMenuThreeItem.subTitle }}</li>
                                    {% endfor %}
                                    </ul>
                                </li> #}

                                {# {% set subMenuFourItems = subMenus.subMenuFour %} #}
                                {# <li>
                                    <a href="#">New World Wines</a>
                                    <ul>
                                    {% for subMenuFourItem in subMenuFourItems.all() %}
                                        <li>{{ subMenuFourItem.subTitle }}</li>
                                    {% endfor %}
                                    </ul>
                                </li> #}

                                {# <li class="promo-item">
                                    <img class="responsive-img" src="https://highburyvintners.co.uk/assets/images/_medium/no-image-white-standard.png">
                                </li>

                                <div class="divider"></div> #}

                                {# Bottom Navigation #}

                               {# {% set subMenuFiveItems = subMenus.subMenuFive %} #}
                                {# <li>
                                    <a href="#">Popular Searches</a>
                                    <ul class="third-level">
                                        {% for subMenuFiveItem in subMenuFiveItems.all() %}
                                            <li>{{ subMenuFiveItem.subTitle }}</li>
                                        {% endfor %}
                                    </ul>
                                </li> #}

                                {# {% set subMenuSixItems = subMenus.subMenuSix %} #}
                                {# <li>
                                    <a href="#">White Grapes</a>
                                    <ul>
                                    {% for subMenuSixItem in subMenuSixItems.all() %}
                                        <li>{{ subMenuSixItem.subTitle }}</li>
                                    {% endfor %}
                                    </ul>
                                </li> #}

                                {# {% set subMenuSevenItems = subMenus.subMenuSeven %} #}
                                {# <li>
                                    <a href="#">Red Grapes</a>
                                    <ul>
                                    {% for subMenuSevenItem in subMenuSevenItems.all() %}
                                        <li>{{ subMenuSevenItem.subTitle }}</li>
                                    {% endfor %}
                                    </ul>
                                </li> #}

                                {# {% set subMenuEightItems = subMenus.subMenuEight %} #}
                                {# <li>
                                    <a href="#">Other Sizes</a>
                                    <ul>
                                    {% for subMenuEightItem in subMenuEightItems.all() %}
                                        <li>{{ subMenuEightItem.subTitle }}</li>
                                    {% endfor %}
                                    </ul>
                                </li>

                                <li class="promo-item">
                                    <img class="responsive-img" src="https://highburyvintners.co.uk/assets/images/_medium/no-image-white-standard.png">
                                </li> #}

                            {# </ul>  #}
                        </li>
                        <li class="top-level-li"><a href="{{ siteUrl('shop/spirits') }}">Spirits</a></li>
                        <li class="top-level-li"><a href="{{ siteUrl('shop') }}">Mixed Cases</a></li>
                        <li class="top-level-li"><a href="{{ siteUrl('wine-club') }}">Wine Club</a></li>
                        <li class="top-level-li"><a href="{{ siteUrl('events') }}">Events</a></li>
                        <li class="top-level-li"><a href="{{ siteUrl('gifts') }}">Gifts</a></li>
                        <li class="top-level-li"><a href="{{ siteUrl('weddings') }}">Weddings</a></li>
                        <li class="top-level-li"><a href="{{ siteUrl('offers') }}">Offers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="mobile-user-account-nav" class="hide-custom-navigation-desktop">
        <p><a href="{{ siteUrl('account/dashboard') }}"><i class="fas fa-user"></i></a></p>
        {% if currentUser %}
        <p>Hi {{ currentUser.username }}, welcome back</p>
        {% else %}
        <p>Welcome to Highbury Vintners.</p>
        {% endif %}
    </div>
</nav>

<div id="slide-out" class="sidenav navigation">

    {# <form action="{{ url('search') }}" class="row">
        <input id="slide-out-search" type="search" name="q" placeholder="Search">
    </form> #}

    <ul id="nav-mobile">
        <li class="mobile-list-item">
            <a data-target="slide-out-mobile-one" class="sidenav-trigger" href="#">Wine <i class="fas fa-chevron-right right white-text"></i></a>
            {# <ul class="second-level">
                {% set subMenuOneItems = subMenus.subMenuOne %}
                <li>
                    <a href="#">All Wines</a>
                    <ul class="third-level">
                        {% for subMenuOneItem in subMenuOneItems.all() %}
                            <li>{{ subMenuOneItem.subTitle }}</li>
                        {% endfor %}
                    </ul>
                </li>

                {% set subMenuTwoItems = subMenus.subMenuTwo %}
                <li>
                    <a href="#">French Wines</a>
                    <ul>
                    {% for subMenuTwoItem in subMenuTwoItems.all() %}
                        <li>{{ subMenuTwoItem.subTitle }}</li>
                    {% endfor %}
                    </ul>
                </li>

                {% set subMenuThreeItems = subMenus.subMenuThree %}
                <li>
                    <a href="#">Old World Wines</a>
                    <ul>
                    {% for subMenuThreeItem in subMenuThreeItems.all() %}
                        <li>{{ subMenuThreeItem.subTitle }}</li>
                    {% endfor %}
                    </ul>
                </li>

                {% set subMenuFourItems = subMenus.subMenuFour %}
                <li>
                    <a href="#">New World Wines</a>
                    <ul>
                    {% for subMenuFourItem in subMenuFourItems.all() %}
                        <li>{{ subMenuFourItem.subTitle }}</li>
                    {% endfor %}
                    </ul>
                </li>

                {% set subMenuFiveItems = subMenus.subMenuFive %}
                <li>
                    <a href="#">Popular Searches</a>
                    <ul class="third-level">
                        {% for subMenuFiveItem in subMenuFiveItems.all() %}
                            <li>{{ subMenuFiveItem.subTitle }}</li>
                        {% endfor %}
                    </ul>
                </li>

                {% set subMenuSixItems = subMenus.subMenuSix %}
                <li>
                    <a href="#">White Grapes</a>
                    <ul>
                    {% for subMenuSixItem in subMenuSixItems.all() %}
                        <li>{{ subMenuSixItem.subTitle }}</li>
                    {% endfor %}
                    </ul>
                </li>

                {% set subMenuSevenItems = subMenus.subMenuSeven %}
                <li>
                    <a href="#">Red Grapes</a>
                    <ul>
                    {% for subMenuSevenItem in subMenuSevenItems.all() %}
                        <li>{{ subMenuSevenItem.subTitle }}</li>
                    {% endfor %}
                    </ul>
                </li>

                {% set subMenuEightItems = subMenus.subMenuEight %}
                <li>
                    <a href="#">Other Sizes</a>
                    <ul>
                    {% for subMenuEightItem in subMenuEightItems.all() %}
                        <li>{{ subMenuEightItem.subTitle }}</li>
                    {% endfor %}
                    </ul>
                </li>
            </ul> #}
        </li>
        <li class="mobile-list-item"><a href="{{ siteUrl('shop/spirits') }}">Spirits</a></li>
        <li class="mobile-list-item"><a href="{{ siteUrl('shop') }}">Mixed Cases</a></li>
        <li class="mobile-list-item"><a href="{{ siteUrl('wine-club') }}">Wine Club</a></li>
        <li class="mobile-list-item"><a href="{{ siteUrl('events') }}">Events</a></li>
        <li class="mobile-list-item"><a href="{{ siteUrl('gifts') }}">Gifts</a></li>
        <li class="mobile-list-item"><a href="{{ siteUrl('weddings') }}">Weddings</a></li>
        <li class="mobile-list-item"><a href="{{ siteUrl('offers') }}">Offers</a></li>
    </ul>

</div>

<div id="slide-out-mobile-one" class="sidenav sideNavLayer mobElOne">
    <ul class="nav-mobile-block">
        <li><a class="sidenav-close right" href="#!">X</a></li>
        {% set subMenuOneItems = subMenus.subMenuOne %}
        <li class="mobile-list-item"><a href="{{ siteUrl('shop/wine') }}">All Wines</a></li>
        {% for subMenuOneItem in subMenuOneItems.all() %}
            <li class="mobile-list-item"><a href="{{ subMenuOneItem.subUrl }}">{{ subMenuOneItem.subTitle }}</a></li>
        {% endfor %}
    </ul>
</div>

<div id="slide-out-mobile-two" class="sidenav sideNavLayer mobElTwo">
    <ul class="nav-mobile-block">
        <li><a class="sidenav-close" href="#!">X</a></li>
        {% set subMenuTwoItems = subMenus.subMenuTwo %}
        <li class="mobile-list-item"><a href="#">French Wines</a></li>
        {% for subMenuTwoItem in subMenuTwoItems.all() %}
            <li class="mobile-list-item"><a href="{{ subMenuTwoItem.subUrl }}">{{ subMenuTwoItem.subTitle }}</a></li>
        {% endfor %}
    </ul>
</div>