{% extends 'shop/_layouts/checkout' %}

{% set addresses = craft.commerce.customers.customer.addresses %}

{% block content %}
    {# UI when at least one address exists #}
    
    <div class="row checkout-addresses">

        <div class="col s12">
            <h1>Where should we send your order?</h1>
        </div>

        <div class="col s12 m12 l8">
            <form method="post" class="address-form">

                <ul class="collapsible col s12">

                    <input type="hidden" name="action" value="commerce/cart/update-cart">
                    {{ redirectInput('shop/checkout/shipping') }}
                    {{ csrfInput() }}

                    {% if not cart.email %}
                        <label for="email">Email</label>
                        <input id="email" class="w-full" type="email" value="{{ cart.email }}" name="email" placeholder="email@site.com"/>
                        <span class="flash">{{ cart.getErrors('email')|join }}</span><br>
                    {% endif %}

                    <li class="active">
                        <div class="col s12 collapsible-header">
                            <h3>Shipping Address</h3>
                        </div>
                        <div class="col s12 collapsible-body">
                            {% include 'shop/_includes/addresses/fieldset' with {
                                title: ''|t,
                                class: 'ShippingAddress',
                                name: 'shippingAddress'
                            } %}
                        </div>
                    </li>

                    <div class="row address-choices">
                        <div class="col s12 m6">
                            <p>
                                <label>
                                    <input id="billingAddressSameAsShipping" name="billingAddressSameAsShipping" type="radio" checked />
                                    <span class="label-body">Use same address for billing</span>
                                </label>
                            </p>
                        </div>
                        <div class="col s12 m6">
                            <p>
                                <label>
                                    <input id="makePrimaryShippingAddress" name="makePrimaryShippingAddress" type="radio" />
                                    <span class="label-body">Make this the primary shipping address</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <input type="hidden" name="billingAddressSameAsShipping" value="0">
                    {#<input type="hidden" name="shippingAddressSameAsBilling" value="0">#}



                    {# <label for="shippingAddressSameAsBilling">
                    <input id="shippingAddressSameAsBilling" name="shippingAddressSameAsBilling" type="checkbox" checked="checked"/>
                    <span class="label-body">Use same address for shipping</span>
                    </label> #}

                    <li>
                        <div class="col s12 collapsible-header">
                            <h3>Billing Address</h3>
                        </div>
                        <div id="billingCollapseBody" class="col s12 collapsible-body">
                            {% include 'shop/_includes/addresses/fieldset' with {
                                title: ''|t,
                                class: 'BillingAddress hidden',
                                name: 'billingAddress'
                            } %}
                        </div>
                    </li>

                    <div class="row address-choices">
                        <div class="col s12">
                            <p>
                                <label>
                                    <input id="makePrimaryBillingAddress" name="makePrimaryBillingAddress" type="radio" />
                                    <span class="label-body">Make this the primary billing address</span>
                                </label>
                            </p>
                        </div>
                    </div>

                </ul>

                <div class="row">
                    <div class="col s12 m4" style="margin-top: 25px;">
                        <input type="submit" class="btn btn-secondary" value="Confirm addresses">
                    </div>
                </div>

            </form>
        </div>

        <div class="col s12 m12 l4">
            {% include "shop/_includes/order-review" with {  } %}
        </div>
    </div>
    
    {% js %}
    var $fieldsets = $('.address-fieldset');

    $fieldsets.each(function () {

        var $addressFieldset = $(this);

        $('.address-select', $addressFieldset).each(function () {

            this.$element = $(this);
            this.$radio = $('.radio input', this.$element);
            this.$body = $('.body', this.$element);

            this.$radio.change($.proxy(function () {
                $('.body', $addressFieldset).addClass('hidden');
                this.$body.removeClass('hidden');
            }, this));

            if (this.$radio.is(':checked')) {
            this.$body.removeClass('hidden');
            }
        });

    });

    $("#billingAddressSameAsShipping").change(function (e) {
        $('.address-fieldset.BillingAddress').toggleClass('hidden');
    });

    {% if (cart.billingAddressId and cart.billingAddress.hasErrors()) or (cart.billingAddressId != cart.shippingAddressId) %}
        $("#billingAddressSameAsShipping").click();
    {% endif %}
    {% endjs %}

{% endblock %}
