{% if currentUser %}
    {% redirect 'shop/checkout/addresses' %}
{% endif %}

{% extends 'shop/_layouts/checkout' %}

{% block content %}

    <div class="row checkout-email">
        <div class="col s12">
            <h1>Let’s grab your email to get started</h1>
        </div>
    </div>

    <div class="row checkout-email">
        <div class="col s12">
            <form method="POST" class="row">
                <input type="hidden" name="action" value="commerce/cart/update-cart">
                {{ redirectInput('shop/checkout/register-signin') }}
                {{ csrfInput() }}

                <div class="input-field col s12">
                    <input id="email" class="w-full" type="text" value="{{ cart.email }}" name="email"/>
                    <label for="email">enter your email here</label>
                </div>

                {# {% set emailErrors = cart.getErrors('email') %}
                {% if emailErrors|length %}
                <span class="red-text">{{ emailErrors|join }}</span><br>
                {% endif %} #}

                <div class="col s12 m4">
                    <input type="submit" value="Continue" class="btn btn-secondary"/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
