{% if currentUser %}
    {% redirect 'shop/checkout/addresses' %}
{% endif %}

{% extends 'shop/_layouts/checkout' %}

{% block content %}

    {% if not cart.email %}
        {% redirect 'shop/checkout' %}
    {% endif %}

    {# Does a user exist with this email address? #}

    {% set userExists = craft.users.email(cart.email).one() %}
    {% set userExistsButCantLogin = craft.users.email(cart.email).status(['locked','suspended','pending']).one() %}

    {% if userExistsButCantLogin %}
            {% redirect 'shop/checkout/addresses' %}
    {% endif %}

    <div class="row">
        <div class="col s12">
            {% if userExists %}
                <h1>Log into your account</h1>
            {% else %}
                <h1>Set up an account</h1>
            {% endif %}
        </div>
    </div>

    <div class="row checkout-register">
        <div class="col s12">

            {% if userExists %}
                <h2>Sign In</h2>

                <form method="post" accept-charset="UTF-8" class="row">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="users/login">
                    {{ redirectInput('shop/checkout/addresses') }}

                    <div class="input-field col s12">
                        <input id="loginName" class="w-full" type="text" name="loginName" placeholder="email@site.com" value="{{ craft.app.user.getRememberedUsername() }}">
                        <label for="loginName">Email</label>
                    </div>

                    <div class="input-field col s12">
                        <input id="loginPassword" class="w-full" type="password" name="password">
                        <label for="loginPassword">Password</label>
                    </div>

                    <div class="input-field col s12 checkbox-area">
                        <p>
                            <label>
                                <input type="checkbox" checked="checked" name="rememberMe" value="1" class="filled-in">
                                <span>Remember me</span>
                            </label>
                        </p>
                    </div>

                    <div class="col s12 m4">
                        <input type="submit" value="Login" class="btn btn-secondary"/>
                    </div>
                </form>

                <p class="forgotten-password"><a href="{{ url('forgotpassword') }}">Forgot your password?</a></p>
            {% else %}

                <h2>Register</h2>

                <form method="post" accept-charset="UTF-8" class="row">
                    {{ csrfInput() }}
                    <input type="hidden" name="action" value="users/save-user">
                    {{ redirectInput('shop/checkout/addresses') }}

                    {% macro errorList(errors) %}
                        {% if errors %}
                            <div class="col">
                                <ul class="errors red-text">
                                    {% for error in errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endmacro %}
                    {% from _self import errorList %}

                    <div class="input-field col s12">
                        <input id="username" type="text" name="username" {%- if user is defined %} value="{{ user.username }}"{% endif -%}>
                        <label for="username">Username</label>

                        {% if user is defined %}
                            {{ errorList(user.getErrors('username')) }}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        <input id="email" type="text" name="email" {%- if user is defined %} value="{{ user.email }}"{% endif %} {%- if user is not defined and cart.email %} value="{{ cart.email }}"{% endif %}>
                        <label for="email">Email</label>

                        {% if user is defined %}
                            {{ errorList(user.getErrors('email')) }}
                        {% endif %}
                    </div>

                    <div class="input-field col s12">
                        <input id="savePassword" type="password" name="password">
                        <label for="savePassword">Password</label>

                        {% if user is defined %}
                            {{ errorList(user.getErrors('password')) }}
                        {% endif %}
                    </div>

                    <div class="col s12 m4">
                        <input type="submit" value="Register" class="btn btn-secondary"/>
                    </div>
                    
                </form>

            {% endif %}

        </div>

        <div class="col s12">
            <a class="continue-guest" href="{{ url('shop/checkout/addresses')}}">Or, just <span>continue as guest</span> &rarr;</a>
        </div>
    </div>
{% endblock %}
