{% if cart is not defined %}
  {% set cart = craft.commerce.carts.cart %}
{% endif %}
{% for block in entry.pageBuilder.all() %}
    {% switch block.type %}
      {% case 'heroBasic' %}
      <div class="hero">
          <div class="container hero--breadcrumbs">
              {% include "components/_breadcrumbs" %}
          </div>
          <div class="hero--pageTitle center">
              <h1>{% if block.heading|length %} {{ block.heading }} {% else %} {{ entry.title }} {% endif %}</h1>
          </div>
          {% if block.image|length %}<div class="hero--image" style="background-image:url({{ block.image.one.url|default('') }});background-size:cover;background-position:center center;background-repeat:no-repeat;width:100%;height:45vh;max-height:700px;"></div>{% endif %}
      </div>
      {% case 'hero' %}
      <div class="carousel carousel-slider center defaultHero">
          <div class="defaultHero--breadcrumbs">
              {% include "components/_breadcrumbs" %}
          </div>
          {% for row in block.heroSlides.all() %}
            <div class="carousel-item white-text defaultHero---slide" href="#{{ loop.index }}" style="background-image:url('{{ row.image.one.url|default('') }}');background-size:cover;background-position:center center;background-repeat:no-repeat;">
                <div class="defaultHero--pageTitle center">
                    {% if loop.first %}
                      <h1>{% if row.heading|length %} {{ row.heading }} {% else %} {{ entry.title }} {% endif %}</h1>
                    {% else %}
                      <h2 class="h1">{% if row.heading|length %} {{ row.heading }} {% else %} {{ entry.title }} {% endif %}</h2>
                    {% endif %}
                    {% if row.text|length %}<p>{{ row.text }}</p>{% endif %}
                    {% if row.buttonUrl|length %}<p><a href="{{ row.buttonUrl }}" class="btn btn-bronze waves-effects">{{ row.buttonText }}</a></p>{% endif %}
                </div>
            </div>
          {% endfor %}
      </div>
      {% case 'wineClubBenefits' %}
      <div class="wineClub">
          <div class="wineClub--list">
              {% for row in block.benefits.all() %}
                <div class="wineClub--item" style="background-image: url('{{ row.image.one.url|default('') }}');">
                    <h3>{{ row.text }}</h3>
                </div>
              {% endfor %} 
          </div>    
      </div>
      {% case 'textBlock' %}
      <div class="row wine-club-information defaultBody">
          <div class="col s12">
              <div class="container">
                <div class="row">
                      <div class="col s12">
                          {% if block.mainHeading|length %}<h2>{{ block.mainHeading }}</h2>{% endif %}
                          <p>{{ block.mainText }}</p>
                          <p>
                            {% for row in block.buttons.all() %}
                              {% if row.buttonTarget|length %}
                                <a href="{{ row.buttonTarget }}" class="btn waves-effect {% if loop.first %}btn-space-30{% endif %} {% if row.defaultButton|length %}btn-light btn-ghost {% endif %}" {% if row.externalLink|length %}target="_blank"{% endif %}>{{ row.buttonText }}</a>
                              {% endif %}
                            {% endfor %}
                          </p>
                      </div>
                </div>
              </div>
          </div>
      </div>
      {% case 'bodyText' %}
      <div class="row wine-club-information defaultBody">
          <div class="col s12">
              <div class="container">
                <div class="row">
                      <div class="col s12">
                        <h2>{{ block.mainHeading }}</h2>
                        {{ block.mainText }}
                        <p>
                            {% for row in block.buttons.all() %}
                              {% if row.buttonTarget|length %}<a href="{{ row.buttonTarget }}" class="btn waves-effect btn-space-30 {% if row.defaultButton|length %}btn-light btn-ghost{% endif %}">{{ row.buttonText }}</a>{% endif %}
                            {% endfor %} 
                        </p>
                      </div>
                </div>
              </div>
          </div>
      </div>
      {% case 'featuredBlock' %}
      <div class="featureBoxes">
          <div class="featureBoxes--inner">
              {% for row in block.featuredBlock.all() %}
                <div class="featureBoxes--item {% if loop.index == '1' %}bg-bronze {% endif %}{% if loop.index == '2' %}bg-brown{% endif %}{% if loop.index == '3' %}bg-green{% endif %}">
                    <div class="featureBoxes--image">
                        {% if row.image|length %}<img src="{{ row.image.one.url|default('') }}"  alt="" />{% else %}<img src="/assets/images/featured-glasses@2x.jpg"  alt="" />{% endif %}
                    </div>
                    <div class="featureBoxes--text">
                        <h3>{{ row.heading }}</h3>
                        <p>{{ row.text }}</p>
                        {% if  row.buttonTarget|length %}<a href="{{ row.buttonTarget }}" class="btn">{{ row.buttonText }}</a>{% endif %}
                    </div>
                </div>
              {% endfor %}
          </div>       
      </div>
      {% case 'cta' %}
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="cta center">
                         {% if block.cta|length %} {{ block.cta }} {% endif %}
                         {# <p>Got a question for us? <a href="/faqs">View our FAQs</a> or chat to our team.</p> #}
                    </div>
                </div>
            </div>
        </div>
      {% case 'imageGridPatch' %}
        <div class="container-fluid">
          <div class="row">
            <div class="col s12">
              <div class="defaultBody--imageGrid">
                {% for row in block.images.all() %}
                  {% if row.image|length %}<div class="item"><img src="{{ row.image.one.url|default('') }}" class="" style="width:100%;" /></div>{% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      {% case 'contactInformationPatch' %}
        <div class="container contact">
            <div class="row">
                <div class="col s12 m3">
                    <h5 class="contact--heading">Visit our shop</h5>
                    {% for row in block.visitOurShop.all() %}
                    <address class="contact--address">
                      <span>{{ row.address1 }}</span>
                      <span>{{ row.address2 }}</span>
                      <span>{{ row.postcode }}</span>
                    </address>
                    <p>
                      {{ row.directions }}
                    </p>
                    {% endfor %}
                </div>
                <div class="col s12 m3">
                    <h5 class="contact--heading">Opening Hours</h5>
                    <ul class="contact--openingHours">
                    {% for row in block.openingHours.all() %}
                      <li><p>{{ row.days }}<span>{{ row.hours }}</span></p></li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col s12 m3">
                    <h5 class="contact--heading">Sales/Order Enquiries</h5>
                    {% for row in block.salesOrderEnquiries.all() %}
                      <p><a href="tel:{{ row.telephone }}" class="contact--link">{{ row.telephone }}</a></p>
                      <p><a href="mailto:{{ row.email }}" class="contact--link">{{ row.email }}</a></p>
                    {% endfor %}
                </div>
                <div class="col s12 m3">
                    <h5 class="contact--heading">Connect with us</h5>
                    <ul class="social-links-list">
                        {% for row in block.connectWithUs.all() %}
                          {% if row.instagramUrl|length %}<li><a href="{{ row.instagramUrl }}"><i class="fab fa-instagram"></i> <span>Follow Us</span></a></li>{% endif %}
                          {% if row.twitterUrl|length %}<li><a href="{{ row.twitterUrl }}"><i class="fab fa-twitter"></i> <span>Tweet Us</span></a></li>{% endif %}
                          {% if row.facebookUrl|length %}<li><a href="{{ row.facebookUrl }}"><i class="fab fa-facebook-f"></i> <span>Message us</span></a></li>{% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endswitch %}
{% endfor %}