{% extends "_layout" %}
{% block content %}

{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<div class="hero">
    <div class="container hero--breadcrumbs">
        {% include "components/_breadcrumbs" %}
    </div>
    <div class="hero--pageTitle center">
        <h1>Get in touch</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <img src="/assets/images/map@2x.jpg" alt="" class="responsive-img" />
        </div>
    </div>
</div>
<div class="container contact addresses">
    <div class="row">
        <div class="col s12 m3">
            <h5 class="contact--heading">Visit our shop</h5>
            <address class="contact--address">
                <span>71 Highbury Park</span>
                <span>London</span>
                <span>NS 1UA</span>
            </address>
            <p>
                Nearest tube stations<br>
                Arsenal 0.5 miles<br>
                Highbury &amp; Islington<br> 
                0.9 miles
            </p>
        </div>
        <div class="col s12 m3">
            <h5 class="contact--heading">Opening Hours</h5>
            <ul class="contact--openingHours">
                <li><p>Monday to Thursday <br /><span>11:00am - 9:00pm</span></p></li>
                <li><p>Friday <span>11:00am - 9:30pm</span></p></li>
                <li><p>Saturday <span>10:00am - 9:00pm</span></p></li>
                <li><p>Sunday <span>12:00am - 8:00pm</span></p></li>
                <li><p>Bank Holidays <span>12:00am - 6:00pm</span></p></li>
            </ul>
        </div>
        <div class="col s12 m3">
            <h5 class="contact--heading">Sales/Order Enquiries</h5>
            <p><a href="00442072261347" class="contact--link">0207 226 1347</a></p>
            <p><a href="mailto:sales@highburyvintners.co.uk" class="contact--link">sales@highburyvintners.co.uk</a></p>
        </div>
        <div class="col s12 m3">
            <h5 class="contact--heading">Connect with us</h5>
            <ul class="social-links-list">
                <li><a href="#"><i class="fab fa-instagram"></i> <span>Follow Us</span></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i> <span>Tweet Us</span></a></li>
                <li><a href="#"><i class="fab fa-facebook-f"></i> <span>Message us</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container contact">
    <form method="post" action="" accept-charset="UTF-8" class="row contact--form">
        {{ csrfInput() }}
        <input type="hidden" name="action" value="contact-form/send">
        {{ redirectInput('contact-us/thanks?from={fromName}') }}
        <div class="col s12 m6 submit-fields">
            <div class="row">  
                <div class="input-field col s12">
                    <input id="name" name="fromName" type="text" class="validate" value="{{ message.fromName ?? '' }}">
                    <label for="name">Name</label>
                    {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
                </div>
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="fromEmail" value="{{ message.fromEmail ?? '' }}">
                    <label for="email">Email Address</label>
                    {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
                </div>
                <div class="input-field col s12" name="subject" value="{{ message.subject ?? '' }}">
                    <select>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                    </select>
                    {{ message is defined and message ? errorList(message.getErrors('subject')) }}
                </div>
                <div class="input-field col s12">
                    <p>
                        <label>
                            <input class="with-gap" name="user-copy" type="radio" checked />
                            <span>Send me a copy of this message</span>
                        </label>
                    </p>
                </div>
            </div>
        </div>
        <div class="col s12 m6 submit-textarea">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="message" class="materialize-textarea" name="message">{{ message.message ?? '' }}</textarea>
                    <label for="message">Your message...</label>
                    {{ message is defined and message ? errorList(message.getErrors('message')) }}
                </div>
                <div class="input-field col s12">
                    <input type="submit" value="Send" class="btn">
                </div>
            </div>
        </div>
    </form>
</div>
<div class="divider"></div>
{% include "components/_newsletter" %}

{% endblock %}

