{% extends "_layout" %}
{% block content %}

{# {% if craft.app.session.hasFlash('notice') %}
    <p class="message notice">{{ craft.app.session.getFlash('notice') }}</p>
{% elseif craft.app.session.hasFlash('error') %}
    <p class="message error">{{ craft.app.session.getFlash('error') }}</p>
{% endif %} #}

<section class="defaultPage">
	<div class="container">
		<div class="row">
			<div class="defaultPage--404">
				<h1><span>Thanks {{ craft.app.request.getQueryParam('from') }}!</span></h1>
				<p>A member of our team will be in touch soon.</p>
				<p><a href="{{ siteUrl('/') }}" class="btn">Back to Homepage</a></p>
			</div>
		</div>
	</div>
</section>	
{% endblock %}