{% set steps = [
    {
        label: "Email",
        url: 'shop/checkout'
    },
    {
        label: "Account",
        url: 'shop/checkout/register-signin'
    },
    {
        label: "Address",
        url: 'shop/checkout/addresses'
    },
    {
        label: "Shipping",
        url: 'shop/checkout/shipping'
    },
    {
        label: "Payment",
        url: 'shop/checkout/payment'
    }
] %}

{% if width is not defined %}
    {% set width = 0 %}
{% endif %}

<div id="checkout-meter" class="steps container">
    <div class="row checkout-steps">
        <div class="col s12">
            <nav>
                <div class="nav-wrapper">
                    <p class="brand-logo">My Checkout</p>
                    <ul id="checkout-nav" class="right">
                    {% for key, step in steps %}

                        {% set class = '' %}
                        {% if craft.app.request.pathInfo == step.url %}
                            {% set width = ((key + 1) * 100 / steps|length) - 20 %}
                            {% set class = "selected" %}
                            {% set currentStep = key %}
                        {% endif %}

                        {% if currentStep is not defined %}
                            {% set class = "done" %}
                        {% endif %}

                        <li class="{{ class }}"><a href="{{ url( step.url ) }}">{{ step.label }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    {# <div class="row meter">
        <div class="col s12">
            <span style="width: {{ width }}%"></span>
        </div>
    </div> #}
</div>
