{% extends "_layout" %}
{% block content %}

{# {% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %} #}

{% set lists = craft.wishlist.lists().all() %}
{% set reference = craft.app.request.getParam('id') %}

<div id="gift-lists" class="container">
    <div class="row">
        <div class="col s12">
            <h1>Gift Lists</h1>
        </div>

    </div>

    <div class="row">
        <div class="col s12 m6">
            <h2>Your lists</h2>
        </div>
        <div class="col s12 offset-m4 m2 right-align">
            <a href="#list-modal" class="btn btn-secondary modal-trigger">Create a list</a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                {% for list in lists %}
                    {% set counter = ( counter | default(0) ) + 1 %}
                    <li>
                        <div class="collapsible-header">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col s12 m8 list-title-section">
                                        <i class="material-icons">list</i>
                                        <p>{{ list.title }}</p>
                                    </div>
                                    <div class="col s12 m1 list-id">
                                        <span>{{ list.id }}</span>
                                    </div>
                                    <div class="col s12 m2 list-add-to-cart">
                                        <form method="POST">
                                            <input type="hidden" name="action" value="wishlist/lists/add-to-cart">
                                            {{ csrfInput() }}
                                            {{ redirectInput('cart') }}
                                            <input type="hidden" name="listId" value="{{ list.id }}">
                                            <input type="submit" value="Add to Cart" class="btn">
                                        </form>
                                    </div>
                                    <div class="col s12 m1 list-delete">
                                        <a href="{{ actionUrl('wishlist/lists/delete', { listId: list.id }) }}"><i class="material-icons">delete</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <ul>
                            {% for item in list.items.all() %}
                                <li>
                                    <div class="row">
                                        <div class="col s12 m1 center">
                                            {% set assets = item.element.productImage %}
                                            {% if assets %}
                                                {% for asset in assets.all() %}
                                                    <img class="responsive-img" src="{{ asset.getUrl('thumbnail') }}" alt="{{ asset.title }}">
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="col s12 m9">
                                            <a href="{{ item.element.url }}">{{ item.title }} - {{ item.listId }} - 
                                            {% set prices = item.element.variants %}
                                            {% for price in prices %}
                                                {{ price.price|currency('GBP') }}
                                            {% endfor %}
                                            </a>
                                        </div>
                                        <div class="col s12 m1">
                                        </div>
                                        <div class="col s12 m1">
                                            <a class="remove" href="{{ item.getRemoveUrl() }}"><i class="material-icons">remove_circle_outline</i></a>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                            </ul>

                            <button onclick="M.toast({html: 'url copied to clipboard'})" class="btn clipboard-btn" data-clipboard-text="https://highburywines.staging.palebluedot.tv/gift-lists?id={{ list.reference }}"><i class="far fa-clipboard"></i> share list url </button>

                            <div class="list-email">
                                {# <form method="POST">
                                    <input type="hidden" name="action" value="wishlist/lists/share-by-email">
                                    {{ csrfInput() }}

                                    <input type="text" name="listId" value="{{ list.id }}">

                                    <input type="text" name="sender[firstName]" placeholder="First Name">
                                    <input type="text" name="sender[lastName]" placeholder="Surname">
                                    <input type="text" name="sender[email]" placeholder="Your email">

                                    <input type="text" name="recipient[firstName]" placeholder="Recipients first name">
                                    <input type="text" name="recipient[lastName]" placeholder="Recipients surname">
                                    <input type="text" name="recipient[email]" placeholder="Recipients email">

                                    <input type="submit" value="Share list">
                                </form> #}
                            </div>

                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h2>Shared lists</h2>
        </div>
        <div class="col s12">
            <ul class="collapsible">
                <li>
                {% if reference %}
                {% set lists = craft.wishlist.lists(false).reference(reference).all() %}
                {% for list in lists %}
                    <div class="collapsible-header"><i class="material-icons">list</i>{{ list.title }}</div>
                    <div class="collapsible-body">
                        <ul>
                        {% for item in list.items.all() %}
                            <li>
                                <a href="{{ item.element.url }}">{{ item.title }} {{ item.element.defaultPrice|currency('GBP') }}</a>
                                <a class="align-right" href="{{ item.getRemoveUrl() }}"><i class="material-icons">remove_circle_outline</i></a>
                            </li>
                            {# <pre>{{ dump(item) }}</pre> #}
                        {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
                {% endif %}
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="list-modal" class="modal">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h2>Create a new list</h2>
            </div>
        </div>
        <form method="POST" class="row">
            <input type="hidden" name="action" value="wishlist/lists/create">
            {{ csrfInput() }}
            <div class="input-field col s12">
                <input type="text" name="title" placeholder="Add a new list">
            </div>
            <div class="input-field col s12">
                <input class="btn" type="submit" value="Create New List">
            </div>
        </form>
    </div>
</div>

{% js %}
    new ClipboardJS('.clipboard-btn');

    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }

{% endjs %}

{% endblock %}