{% extends "_layout" %}
{% block content %}

<div id="login" class="container">
    <div class="row">
        <div class="col s12">
            <h1>Forgot your password?</h1>
        </div>
        <div class="col s12 m6">
            <p>Please enter your username or email and we will send you a link to reset your password.</p>
        </div>
    </div>

    <form method="post" accept-charset="UTF-8" class="row">
        {{ csrfInput() }}
        {{ actionInput('users/send-password-reset-email') }}
        {{ redirectInput('login') }}

        <div class="input-field col s12">
            <input id="loginName" type="text" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.app.user.rememberedUsername }}{% endif %}">
            <label for="loginName">Username or email</label>
        </div>

        {% if errors is defined %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="col s12 m3">
            <input class="btn btn-secondary" type="submit" value="Submit">
        </div>
    </form>

</div>

{% endblock %}