{% extends "_layout" %}
{% block content %}

<div id="login" class="container">
    <div class="row login-nav">
        <div class="col s12 m6">
           <p><a href="{{ siteUrl('/') }}"><i class="fas fa-chevron-left"></i> return to homepage</a></p>
        </div>
        <div class="col s12 m6 right-align">
           <p>Do not have an account yet? <a href="{{ siteUrl('account/registration') }}">Register here</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h1>Nice to see you back again</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h4>Login here</h4>
        </div>
    </div>

    <form method="post" accept-charset="UTF-8" class="row">
        {{ csrfInput() }}
        {{ actionInput('users/login') }}
        {{ redirectInput('account/dashboard') }}


        <div class="input-field col s12">
            <input id="loginName" type="text" name="loginName" value="{{ craft.app.user.rememberedUsername }}" class="validate">
            <label for="loginName">Username or email</label>
        </div>

        <div class="input-field col s12">
            <input id="password" type="password" name="password">
            <label for="password">Password</label>
        </div>

        <div class="row">
            <div class="input-field col s12 m3">
                <input class="btn btn-secondary" type="submit" value="Login">
            </div>
            <div class="input-field col s12 m2">
                <p>
                    <label>
                        <input type="radio" name="rememberMe">
                        <span>Remember me</span>
                    </label>
                </p>
            </div>
        </div>

        {% if errorMessage is defined %}
            <p>{{ errorMessage }}</p>
        {% endif %}
    </form>
    <div class="row">
        <div class="col s12 m4">
            <a href="{{ url('login/forgot-password') }}" class="">Forget your password?</a>
        </div>
    </div>
</div>

{% endblock %}