{% extends "_layout" %}
{% block content %}

{% set code = craft.request.getParam('code') %}
{% if not code %}
    {% exit 503 %}
{% endif %}

{% set id = craft.request.getParam('code') %}
{% if not id %}
    {% exit 503 %}
{% endif %}

<div id="login" class="container">
    <div class="row">
        <div class="col s12">
            <h1>Reset Password</h1>
            {{ code }}</br>
            {{ id }}
        </div>
    </div>

    <form method="post" accept-charset="UTF-8" class="row">
        {{ csrfInput() }}
        {{ actionInput('users/set-password') }}
        {{ hiddenInput('code', code) }}
        {{ hiddenInput('id', id) }}

        <div class="input-field col s12">
            <input id="newPassword" type="password" name="newPassword">
            <label for="newPassword">New Password</label>
        </div>

        <div class="col s12">
        {% if errors is defined %}
            <ul class="errors">
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        </div>

        <div class="col s12 m3">
            <input class="btn btn-secondary" type="submit" value="Submit">
        </div>
    </form>


</div>

{% endblock %}