{% extends 'shop/_layouts/main' %}

{% if cart is not defined %}
    {% set cart = craft.commerce.carts.cart %}
{% endif %}
{% set productQuery = craft.products()
    .availableForPurchase()
    .hasVariant({ hasSales: true })
    .limit(48)
 %}
{# {% set productQuery = craft.variants.hasSales(true).limit(50).all %} #}
{% set productCountDevelopment = productQuery|length %}
{% block main %}

    <div class="row">
        {% include "components/_breadcrumbs" %}
    </div>

    {% paginate productQuery as pageInfo, pageProducts %}
    {% if productQuery|length %}
    
    <div class="row">
        {% for product in pageProducts %}
            {% set counter = ( counter | default(0) ) + 1 %}
            <div class="col s12 m6 l4 xl3">
                {# Start of Card #}
                <div class="card products-card">
                    {# Card Image #}
                    <div class="card-image products-image">

                        {# {%- for purchasable in product.getVariants() -%}
                            <div class="product-sales-name">
                                {% for sale in purchasable.sales  %}
                                    <p>{{ sale.name }}</p>
                                {% endfor %}
                            </div>
                        {%- endfor -%} #}

                        {# Add to gift list #}
                        <div class="add-to-gift-list">
                            {% set itemId = craft.wishlist.item(product.id) %}
                            {% if itemId.inList %}
                                <a href="{{ siteUrl('gift-lists') }}"><i class="fas fa-heart fa-lg"></i></a>
                            {% else %}
                                {# <i onclick="M.toast({html: toastHTML});" class="far fa-heart fa-lg"></i> #}
                                <a href="#modal{{ counter }}" class="modal-trigger"><i class="far fa-heart fa-lg"></i></a>
                            {% endif %}
                        </div>
                        
                        {% set images = product.productImage %}
                        {% if images %}
                            {% for asset in images %}
                                <a href="{{ product.url }}">
                                    <img class="responsive-img" loading="lazy" src="{{ asset.getUrl('medium') }}" alt="{{ asset.title }}">
                                </a>
                            {% endfor %}
                        {% else %}
                            <img class="responsive-img" loading="lazy" src="https://highburywines.staging.palebluedot.tv/assets/images/no-image-white-standard.png" alt="No Image Placeholder">
                        {% endif %}
                    </div>

                    {# Card Content #}
                    <div class="card-content products-content">
                        <ul>
                            <li class="products-title">{% if product.url %}{{ product.link }}{% else %}{{ product.title }}{% endif %}</li>
                            {# <li class="products-price">{{ product.defaultPrice|commerceCurrency(cart.currency) }}</li> #}
                        </ul>

                        {%- for purchasable in product.getVariants() -%}
                            <ul id="product-{{ product.id }}-purchasable-{{ purchasable.id }}" class="purchasableInfo">
                                <li class="products-price">{{ purchasable.salePrice|commerceCurrency(cart.currency) }}<li>
                                <li>was {{ purchasable.price|commerceCurrency(cart.currency) }}</li>
                            </ul>
                        {%- endfor -%}

                        <ul>
                            {% if product.defaultPrice %}<li class="products-per-bottle">per bottle</li>{% endif %}
                        </ul>

                        {% if product.getVariants()|length %}
                            <form method="POST" class="add-to-cart-form center">

                                <input type="hidden" name="action" value="commerce/cart/update-cart">
                                <input type="hidden" name="cartUpdatedNotice" value="{{ product.title}} has been added to your cart.">
                                <input type="hidden" name="qty" value="1">
                                {{ csrfInput() }}

                                <select name="purchasableId" class="purchasableId hide">
                                    {%- for purchasable in product.getVariants() -%}
                                        <option {% if not purchasable.isAvailable %}disabled {% endif %}
                                            data-info="product-{{ product.id }}-purchasable-{{ purchasable.id }}"
                                            value="{{ purchasable.id }}">
                                            {{ purchasable.description }} {{ purchasable.salePrice|commerceCurrency(cart.currency) }}
                                        </option>
                                    {%- endfor -%}
                                </select>

                                {% if product.hasUnlimitedStock or (product.hasUnlimitedStock == false and product.totalStock > 0 ) %}

                                    {% if currentUser %}
                                        {% set order = craft.orders.user(currentUser).isCompleted(true).hasPurchasables(product.defaultVariant).all() %}
                                        {% if order|length %}
                                            <button class="waves-effect waves-light btn" type="submit">{{ "Previous Purchase"|t }}</button>
                                        {% else %}
                                            <button class="waves-effect waves-light btn" type="submit">{{ "Buy Now"|t }}</button>
                                        {% endif %}
                                    {% else %}
                                        <button class="waves-effect waves-light btn" type="submit">{{ "Buy Now"|t }}</button>
                                    {% endif %}
                            
                                {% else %}
                                    <button class="btn disabled">{{ "Out of Stock"|t }}</button>
                                {% endif %}                            
                            </form>
                        {% endif %}
                    </div>

                {# End of Card #}
                </div>
            
            </div>

            <!-- Modal -->
            <div id="modal{{ counter }}" class="modal gift-list-modal container">
                <div class="modal-content row">
                    <div class="col s12 m6 card">
                        <div class="card-image">
                            {% set images = product.productImage %}
                            {% if images %}
                                {% for asset in images %}
                                    <img class="responsive-img" src="{{ asset.getUrl('medium') }}" alt="{{ asset.title }}">
                                {% endfor %}
                            {% else %}
                                <img class="responsive-img" src="https://highburywines.staging.palebluedot.tv/assets/images/no-image-white-standard.png" alt="No Image Placeholder">
                            {% endif %}
                            <span class="card-title">{% if product.url %}{{ product.link }}{% else %}{{ product.title }}{% endif %}</span>
                        </div>
                    </div>
                    <div class="col s12 m6 card">
                        <div class="card-content">
                            <h3>{{ product.title }}</h3>
                            {% if currentUser %}
                                <p>Add to one of these available lists:</p>
                                <ul>
                                    {% set modalItem = craft.wishlist.item(product.id) %}
                                    {% set giftLists = craft.wishlist.lists %}
                                    {% for giftList in giftLists.all() %}
                                        <li><a href="{{ modalItem.addUrl(product.id) }}&listId={{ giftList.id }}">{{ giftList.title }} - {{ giftList.id }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>Looks like you're not logged in. Please login or create an account to start your lists</p>
                            {% endif %}
                        </div>
                        <div class="card-action">
                        {% if currentUser %}
                            <a href="{{ siteUrl('gift-lists') }}" class="btn waves-effect modal-close">Create a new list</a>
                        {% else %}
                            <a href="{{ siteUrl('login') }}">Login</a>
                        {% endif %}
                            <a href="#" class="btn waves-effect modal-close right">close</a>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
    {% else %}
        <div class="row">
            <div class="col s12">
                <p>There where no results for your search.</p>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col s12 center">
            <ul class="pagination">
                {% set totalPages = pageInfo.totalPages %}
                {% for page, url in pageInfo.getPrevUrls(totalPages) %}
                    <li><a href="{{ url }}">{{ page }}</a></li>
                {% endfor %}

                <li class="active"><a href="#">{{ pageInfo.currentPage }}</a></li>

                {% for page, url in pageInfo.getNextUrls(totalPages) %}
                    <li><a href="{{ url }}">{{ page }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% js %}
        var toastHTML = '<span>Sign in or create an account to add this item to a shareable list</span><a href="https://highburywines.staging.palebluedot.tv/login" class="btn-flat toast-action">Sign in / Create</a>';

        $( ".purchasableId" ).change(function(e) {
            $(".purchasableInfo").hide();
            $("#"+($(this).find(":selected").data('info'))).toggle();
        });

        {# $('form.add-to-cart-form').submit(function(e){
            e.preventDefault();
            var purchasable = $(this).find('.purchasableId').val();
            $.ajax({
                type: "POST",
                dataType: 'json',
                headers: {
                    "X-CSRF-Token" : '{{ craft.app.request.csrfToken }}',
                },
                url: '',
                data: {
                    'action' : 'commerce/cart/update-cart',
                    'purchasableId': purchasable,
                    'note' : 'from ajax'
                },
                success: function(data){
                    console.log(data);
                },
                error: function(error){
                    alert(error);
                }
            });
        }); #}
       
    {% endjs %}

{% endblock %}
