{% extends "_layout" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>{{ entry.title }}</h1>
        </div>
    </div>
</div>

{% endblock %}