{% extends "_layout" %}
{% block content %}

<section class="defaultPage defaultPage--404">
	<div class="container">
		<h1><i><strong>Oops!</strong> Nothing to see here.</i></h1>
		<p><a href="{{ siteUrl() }}" class="btn">Back to Homepage</a></p>
	</div>
</section>	
{% endblock %}