<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
  <meta name="referrer" content="origin-when-cross-origin" />
​
    <title>Highbury Vintners - Buy wine online</title>
​
    <meta name="description" content="Buy wine online or visit our award winning wine shop in Islington, London - Over 1000 wines to choose from.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="home" href="https://www.highburyvintners.co.uk/" />
    <link rel="canonical" href="https://www.highburyvintners.co.uk/">
​
    <!-- FAVICON -->
    <!-- <link rel="apple-touch-icon" sizes="180x180" href="{{ siteUrl }}assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ siteUrl }}assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ siteUrl }}assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ siteUrl }}assets/favicon/manifest.json">
    <link rel="mask-icon" href="{{ siteUrl }}assets/favicon/safari-pinned-tab.svg" color="#1d1d1d "> -->
​
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/443d8e4721.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
​
    <style>
        html {
            height: 100%;
        }
        body {
            border-top: 4px solid #8e8076;
            background-color: #13212f;
            color: #FFFFFF;
        }
        .defaultPage--503 {
            margin:0px;
        }
        .defaultPage--container {
            padding: 30px;
            display: flex;
            flex-direction: column;
​
            align-content: center;
            height: 100vh;
            text-align:center;
            font-size: 20px;
            line-height: 1.2;
        }
        .logo {
            max-width: 500px;
            display: block;
            width: 100%;
            margin:0 auto;
        }
        a {
            color:#FFFFFF;
            border-bottom: solid 1px #FFFFFF;
            text-decoration: none;
        }
        a:hover {
            border-color: transparent;
        }
    </style>
​
</head>
​
<body class="defaultPage defaultPage--503">
​
	<div class="defaultPage--container">
        <img src="https://highburywines.staging.palebluedot.tv/assets/images/Highbury-Vintners-Logo-Reversal.svg" alt="Highbury Vintners Logo" class="logo" />
        <h1>New website coming soon</h1>
        <p>For sales, orders and deliveries please call <a href="tel:00442072261347">0207 226 1347</a> or email us at <a href="mailto:sales@highburyvintners.co.uk">sales@highburyvintners.co.uk</a></p>
	</div>
​
<!-- **** DONT FORGET TO ADD GOOGLE ANALYTICS **** -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2700184-67']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>