{% extends "_layout" %}
{% block content %}
{% include "_partials/_page_builder" %}
<div class="container-fluid">
    <div class="row wine-club-how-it-works">
        <div class="col s12 center">
            <h2>How Wine Club Works</h2>
        </div>
    </div>
    <div class="row wine-club-steps">
        <div class="col s12">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4">
                        <div class="card center wine-club-steps--step border-bottom-bronze" style="border: 1px solid #eee;">
                            <a class="btn-floating step-no bg-bronze baskerville-Reg">1</a>
                            <div class="card-content">
                                <h3 class="card-title">Choose Plan</h3>
                                <span class="subtitle color-bronze">How much would you<br/> like to spend?</span>
                            </div>
                            <span class="spacer"></span>
                            <div class="card-content step-content">
                                <ul class="step-list">
                                    <li>
                                        <span>Silver Plan</span><br/>
                                        <span>&pound;100 per case (12)</span><br/>
                                        <span>Inc. FREE Delivery</span><br/>
                                    </li>
                                    <li>
                                        <span>Gold Plan</span><br/>
                                        <span>&pound;140 per case (12)</span><br/>
                                        <span>Inc. FREE Delivery</span><br/>
                                    </li>
                                    <li>
                                        <span>Platinum Plan</span><br/>
                                        <span>&pound;200 per case (12)</span><br/>
                                        <span>Inc. FREE Delivery</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card center wine-club-steps--step border-bottom-brown" style="border: 1px solid #eee;">
                            <a class="btn-floating step-no bg-brown baskerville-Reg">2</a>
                            <div class="card-content">
                                <h3 class="card-title">Choose Style</h3>
                                <span class="subtitle color-brown">of wine you prefer</span>
                            </div>
                            <span class="spacer"></span>
                            <div class="card-content step-content">
                                <p>MIXED<br/>RED<br/>WHITE</p>
                                <ul class="step-list">
                                    <li>6 white & 6 red, 12 red</li>
                                    <li>or 12 white with the</li>
                                    <li>occasional rosé</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card center wine-club-steps--step border-bottom-green" style="border: 1px solid #eee;">
                            <a class="btn-floating step-no bg-green baskerville-Reg">3</a>
                            <div class="card-content">
                                <h3 class="card-title">Choose How Often</h3>
                                <span class="subtitle color-green">How often you’d like to<br/> receive your wine.</span>
                            </div>
                            <span class="spacer"></span>
                            <div class="card-content step-content">
                                <p>EVERY 2 MONTHS<br>or QUARTERLY</p>
                                <br>
                                <p>You can suspend or cancel your membership<br> at any time</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    {% macro errorList(errors) %}
                        {% if errors %}
                            <ul class="errors">
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endmacro %}
                    {% from _self import errorList %}
                    {% set form = wheelform.form({
                        id: 2,
                        redirect: 'contact/thanks',
                    }) %}
                    {{ form.open() }}
                        {{ wheelformErrors['form'] is defined ? errorList(wheelformErrors['form']) }}
                        {{ wheelformErrors['recaptcha'] is defined ? errorList(wheelformErrors['recaptcha']) }}
                        {{ wheelformErrors['honeypot'] is defined ? errorList(wheelformErrors['honeypot']) }}
                        {% for field in form.fields %}
                            {% switch field.type %}
                                {% case "checkbox" %}
                                    <div class="form-checkbox">
                                    {% for item in field.items %}
                                    <label><input class="checkbox" type="checkbox" value="{{ item }}" {{values[field.name] is defined and item in values[field.name] ? ' checked="checked"' : '' }} name="{{field.name}}[]" id=""/>{{item}}</label>
                                    {% endfor %}
                                    </div>
                                {% case "radio" %}
                                    <div class="input-field col s12 m4">
                                    <p>{{ field.label }}</p>
                                    {% for item in field.items %}
                                    <p>
                                        <label>
                                            <input class="radio" type="radio" value="{{ item }}" {{values[field.name] is defined and item == values[field.name] ? ' checked="checked"' : '' }} name="{{field.name}}" id=""/>
                                            <span>{{item}}</span>
                                        </label>
                                    </p>
                                    {% endfor %}
                                    </div>
                                {% case "select" %}
                                    <div class="form-select">
                                    <select id="wf-select" name="{{field.name}}" class="wf-field {{field.fieldClass}}">
                                    {% for item in field.items %}
                                        <option value="{{ item }}" {{values[field.name] is defined and item == values[field.name] ? 'selected="selected"' : '' }}>{{item}}</option>
                                    {% endfor %}
                                    </select>
                                    </div>
                                {% case "file" %}
                                    <div class="form-group">
                                        <label>{{field.label}}</label>
                                        <input type="file" name="{{field.name}}" id=""/>
                                    </div>
                                {% case "textarea" %}
                                    <div class="input-field col s12 m4">
                                        <label>{{field.label}}</label>
                                        <textarea class="form-control" name="{{field.name}}" id="">{{ values[field.name] ?? '' }}</textarea>
                                    </div>
                                {% case "list" %}
                                    <div class="input-field col s12 m4">
                                        <label>{{field.label}}</label>
                                        <input type="text" name="{{field.name}}[]" id=""/>
                                        <script>//Javascript to handle adding fields</script>
                                    </div>
                                {% default %}
                                    <div class="input-field col s12 m4">
                                    <label>{{field.label}}</label>
                                    <input class="form-control" type="{{field.type}}" value="{{ values[field.name] ?? '' }}" name="{{field.name}}" id=""/>
                                    </div>
                            {% endswitch %}
                            {{ wheelformErrors[field.name] is defined ? errorList(wheelformErrors[field.name]) }}
                        {% endfor %}
                        {% if form.recaptcha %}
                            <div>
                                <script src="https://www.google.com/recaptcha/api.js"></script>
                                <!-- Production captcha -->
                                <div class="g-recaptcha" data-sitekey="{{wheelform.getSettings('recaptcha_public')}}"></div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col s12">
                                <button class="btn btn-success" id="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}